
html, body {
	padding: 0; margin:0;
	width:100%;height:100%;min-height: 100%;
	position:relative;		
}
body{
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-focus-ring-color: rgba(255, 255, 255, 0);
    font-size: 100%;font-family: arial; 
    outline: none;
}

* { box-sizing: border-box; -moz-box-sizing: border-box;}

input[placeholder]          {text-overflow:ellipsis;}
input::-moz-placeholder     {text-overflow:ellipsis;} 
input:-moz-placeholder      {text-overflow:ellipsis;} 
input:-ms-input-placeholder {text-overflow:ellipsis;}
input:focus::-webkit-input-placeholder {color: transparent;transition:.3s;}
input:focus::-moz-placeholder          {color: transparent;transition:.3s;}
input:focus:-moz-placeholder           {color: transparent;transition:.3s;}
input:focus:-ms-input-placeholder      {color: transparent;transition:.3s;}  

.noselect {
  -webkit-touch-callout: none; -webkit-user-select: none;-khtml-user-select: none; 
  -moz-user-select: none; -ms-user-select: none; user-select: none;
}

body{padding: 10px;}
a{color:black;}

.activation__all-site{ height: 100%;width: 100%;background: #FFF040;border-radius: 10px;padding: 20px;}
.activation__err-message{margin: 10px;}

.activation__title {
	font: 2em arial;margin:50px 5% 30px 5%;
	transform:translateY(20px) scale(.4); opacity: 0;
	transition:.6s .2s;
}
.activation__loader{
	width: 80%;max-width: 300px;height: 30px;border-radius: 100px;border:2px solid white;
	background: url("../i/activation-loader.png");background-position: 0 0;
	display:none;margin: 0 0 20px 0;
	transform:translateY(20px) scale(.4); opacity: 0;
	transition:.6s;
}
.header-showed .activation__title{transform:translateY(0) scale(1);opacity: 1; transition:.6s;}
.header-showed .activation__loader{transform:translateY(0) scale(1);opacity: 1;transition:.6s .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);}

.now-loading .activation__loader{
	display: block;
	animation:loader-ani 120s linear infinite;
}

@keyframes loader-ani{
	100%{background-position: 10000px 0;}
}

.activation__slider{
	max-width: 500px;transform:translateY(10px) scale(.3); opacity: 0;
	transition:.6s cubic-bezier(0.6, -0.28, 0.735, 0.045);overflow: hidden;	
}
.activation__slider.showed{
	transform:translateY(0) scale(1); opacity: 1;
	transition:.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.activation__slider_allpages{height: 300px;position: relative;}
.activation__slider_page{
	background: white;padding:40px 10%;
	border-radius: 20px;height: 40px;
	position: absolute;top:0;left:0;width: 100%;height: 100%;	
	transform:scale(.5);opacity:.5;
	transition:.6s;
}
.activation__slider_page.current{transform:scale(1);opacity: 1;}

.activation__slider_page h2{font:bold 1.4em arial;margin: 0 0 15px 0;padding: 0;text-align: left;}
.activation__slider_page p{font: 1.3em arial;margin: 0;padding: 0;text-align: left;}
.activation__slider_footer{padding:10px;opacity: 0;transform:translateY(10px) scale(2.5);transition: 1.6s .3s cubic-bezier(0.175, 0.885, 0.32, 1.6);}
.activation__slider.showed .activation__slider_footer{opacity: 1;transform:translateX(0) scale(1);}
.activation__slider_footer-dots{margin:0 auto;display: inline-block; }
.activation__slider_footer-dots:after{display: table;clear: both;content: "";}
.activation__slider_footer-dots>div{background: white;width: 15px;height: 15px;border-radius: 50%;float: left;margin: 8px;transition:.3s;}
.activation__slider_footer-dots>div.current{background: black;}


@media screen and (max-width: 600px){
	
	.activation__title {font-size: 1.4em;margin:10px 5% 20px 5%;}
	.activation__slider_allpages{height: 250px;}
	.activation__slider_page{padding:20px 5% 0 5%;border-radius: 10px;height: 100%;}
	.activation__slider_page h2{font:bold 1.2em arial;margin: 0 0 12px 0;}
	.activation__slider_page p{font: 1.2em arial;}
	.activation__slider_footer-dots>div{width: 10px;height: 10px;margin: 8px;}

}

