html, body {padding: 0; margin:0;width: 100%;height: 100%;}
body{
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-focus-ring-color: rgba(255, 255, 255, 0);
    font-size: 100%;font-family: arial;
    outline: none;
    background:#F7F7F7;
    font-family: arial;
}

* {box-sizing: border-box; -moz-box-sizing: border-box;}
a{color:black;}
.menupage-logo{
	text-align: center;padding: 15vw 0 0 0;
	font-size: 10vw;
	text-transform: uppercase;
	font-weight: 700;
}

.menupage-loader{position: absolute;bottom:20%;left:0;width: 100%;text-align: center;opacity: 0;transition:.5s;transform:translateY(-30px);}
.menupage-loader-wrapper{margin:0 auto;width: 20%;max-width: 88px;}
.menupage-loader-air-wrapper{transition:0s;opacity: 0;transform:translateY(-30px);}
.menupage-loader-air{
	width: 60%;margin:0 auto 3% auto;
	background: url("../../pbl/i/pbl_cafe_loader_air.svg") repeat-y top center;
	background-position: center 0;
	animation:air-anim 80s linear infinite;
}
@keyframes air-anim{
	100%{background-position:center -5000px;}
}
.menupage-loader-cup img{width: 100%;height: auto;}
.menupage-footer{position: absolute;width: 100%; left:0;text-align: center;transition:.3s;opacity: .5;}

.chefsmenu-show-preload .menupage-loader{opacity: 1;transform:translateY(0);}
.chefsmenu-show-preload .menupage-loader-air-wrapper{transition:1s .5s;opacity: 1;transform:translateY(0);}
.chefsmenu-show-preload .menupage-footer{opacity: 1;}

.archive-message{
	color: #777777;font-size:1rem; 
	opacity: 0;text-align: center;position: absolute;top:50%;left:50%;
	transform:translate(-50%,-50%) scale(.5); transition:.6s .6s;
}
.chefsmenu-cafe-is-in-archive .archive-message{
	opacity: 1;
	transform:translate(-50%,-50%) scale(1);
}

@media screen and (orientation:portrait) {
	.chefsmenu-show-preload .menupage-footer{display: block;bottom:3%;font-size: 11px;}
	.menupage-footer {display: none;}
}

@media screen and (orientation:landscape) {
	.chefsmenu-show-preload .menupage-footer{display: block;bottom:3%;font-size: 16px;}
	.menupage-footer{bottom:2%;font-size: 13px;}	
}
