version: '3.1'

services:

  db:
    image: mariadb
    restart: always
    ports:
      - 3308:3306    
    environment:
      - MARIADB_ROOT_PASSWORD=pass
      - HOSTNAME=localhost
    volumes:
      - ./db:/var/lib/mysql    
  
  # phpmyadmin:
  #     image: phpmyadmin/phpmyadmin
  #     container_name: phpmyadmin
  #     environment:
  #         - PMA_ARBITRARY=1
  #         - PMA_HOST=db
  #         - PMA_PORT=3308
  #     restart: always
  #     ports:
  #         - 8181:80
  #     volumes:
  #         - /sessions
  #     links:
  #         - db      

  php-apache:    
    image: webhippie/php-apache:8.3
    restart: always
    ports:
      - 8080:8080
    volumes:
      - ./app:/srv/www
      - ./etc/php8:/etc/php8
      - ./etc/apache2:/etc/apache2/custom.d
    environment:       
       - PHP_ERROR_LOG=/app/logs
    #  - LOG_STDOUT=/app/logs/app-log.log
    #  - LOG_STDERR=/app/logs/app-log-errors.log
    links:
      - db

  # php-apache:    
  #   image: webdevops/php-apache-dev:8.3-alpine
  #   restart: always
  #   ports:
  #     - 8080:80
  #   volumes:
  #     - ./app:/app    
  #   environment:
  #    - LOG_STDOUT=/app/logs/app-log.log
  #    - LOG_STDERR=/app/logs/app-log-errors.log
  #   links:
  #     - db


  adminer:
    image: adminer
    restart: always
    ports:
      - 8282:8080

