
html, body {
	padding: 0; margin:0;
	width:100%;height:100%;min-height: 100%;
	position:relative;		
}
body{
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-focus-ring-color: rgba(255, 255, 255, 0);
    font-size: 100%;font-family: arial; 
    outline: none;
}

* { box-sizing: border-box; -moz-box-sizing: border-box;}

input[placeholder]          {text-overflow:ellipsis;}
input::-moz-placeholder     {text-overflow:ellipsis;} 
input:-moz-placeholder      {text-overflow:ellipsis;} 
input:-ms-input-placeholder {text-overflow:ellipsis;}
input:focus::-webkit-input-placeholder {color: transparent;transition:.3s;}
input:focus::-moz-placeholder          {color: transparent;transition:.3s;}
input:focus:-moz-placeholder           {color: transparent;transition:.3s;}
input:focus:-ms-input-placeholder      {color: transparent;transition:.3s;}  

.noselect {
  -webkit-touch-callout: none; -webkit-user-select: none;-khtml-user-select: none; 
  -moz-user-select: none; -ms-user-select: none; user-select: none;
}

body{padding: 10px;}

a {color: black;}

.all-site{
	height: 100%;width: 100%;
	background: #FFF040;
	border-radius: 10px;
	padding: 20px;
	font-size: 1em;
}

.btn-go-home a{color:black;}


@media screen and (max-width: 800px){
	.all-site {
		font-size: 2em;
	}

}

