
<div class="mm2-menu" data-app-version="%[app-version]%">	
	<div class="mm2-wrapper">
		<div class="mm2-all-views"> <!-- all views --> </div>		
	</div>
	<div class="mm2-loader"><div><span></span></div></div> 	
	<a class="mm2-home-link" href="%[home-url]%">Меню – это просто!</a>
	
	<div class="mm2-protect-table-mode noselect">		
		<div class="mm2-protect-table-mode__frame">
			<div class="mm2-protect-table-mode__message">&nbsp;</div>
			<div class="mm2-protect-table-mode__button-ok">OK</div>
		</div>
	</div> 

	<div class="mm2-modal-win noselect">		
		<div class="mm2-modal-win__frame">
			<div class="mm2-modal-win__title">Внимание!</div>
			<div class="mm2-modal-win__message">&nbsp;</div>
			<div class="mm2-modal-win__button-ok">OK</div>
		</div>
	</div> 	

</div>

<div id="mm2-templates" style="display:none;">

	<div class="std-view view-allmenu">
		<div class="std-header">
			<div class="mm2-allmenu-header-title">
				<div class="mm2-allmenu-header-title__icon mm2-icon-i-arrow-about"></div>
				<div class="mm2-allmenu-header-title__text"></div>						
			</div>
			<div class="mm2-header-phone">
				<div class="mm2-header-phone__icon mm2-icon-i-phone"></div>
				<div class="mm2-header-phone__text"></div>
			</div>
			<div class="mm2-header__table-number">
				<div class="mm2-header__table-number_number">&nbsp;</div>
				<div class="mm2-header__table-number_label">столик</div>
			</div>
		</div>
		<div class="std-content">
			<div class="mm2-std-content-wrapper">
				<div class="mm2-allmenu-list2">	<!-- <ul> tpl: mm2-allmenu-icon </ul> --></div>				
			</div>			
			<div class="mm2-allmenu-about">
				<div class="mm2-allmenu-about-wrapper">
					<div class="mm2-allmenu-about-content">
						<div class="mm2-cafe-description">
							<h1 lang="lng_cafe_desc_title"></h1>
							<div class="mm2-cafe-description-address"></div>
							<div class="mm2-cafe-description-chief"></div>
							<div class="mm2-cafe-description-workhours"></div>
							<div class="mm2-cafe-description-about"></div>
						</div>
						<div class="mm2-menu-banner">				
							<a href="%[home-url]%"><div class="mm2-menu-banner__logo">
								<img src="%[path-to-images]%pbl-logo.svg">								
							</div></a>
							<a href="%[home-url]%" class="mm2-menu-banner__link" lang="lng_slogan"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="std-langs no-select">
			<div class="mm2-langs__buttons">
				<!-- lang buttons for mobile verion -->
			</div>
		</div>
		<div class="std-footer">			
			<div class="mm2-allmenu-footer-btns-section-about">					
				<div class="mm2-std-footer-center"><div class="mm2-btn-footer mm2-btn-slideup">
					<span lang="lng_rollup">Roll-up</span></div>
				</div>
			</div>
			<div class="mm2-allmenu-footer-btns-section-menu">
				<div class="mm2-std-footer-center">
					<div class="mm2-btn-footer mm2-btn-close-menu">
						<span lang="lng_close">Close</span>
					</div>
				</div>					
				<div class="mm2-std-footer-right">
					<div class="mm2-btn-footer mm2-btn-basket">
						<span>
							<div class="mm2-btn-basket__icon mm2-icon-i-cart"></div>	
							<div class="mm2-btn-basket__text amount">$ 0</div>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<li class="mm2-allmenu-row">
		<a href="#">
			<div class="mm2-allmenu-row__icon"></div>
			<div class="mm2-allmenu-row__title"><span><!-- title--></span></div>
			<div class="mm2-allmenu-row__arrow mm2-icon-i-menu-open"></div>
		</a>
	</li>
	
	<div class="std-view view-items">
		<div class="std-header">		

			<div class="mm2-std-header-btn-back"><span class="mm2-icon-i-back"></span></div>
			<div class="mm2-std-header-icon"></div>
			<div class="mm2-std-header-title"><span><!-- Menu title --></span></div>

			<div class="mm2-std-header-btn-right mm2-btn-close-items">
				<span class="mm2-icon-i-close"></span>
			</div>

		</div>
		<div class="std-content">
			<div class="mm2-std-content-wrapper">
				<div class="mm2-allitems">
					<div class="mm2-allitems-container"><!-- items --></div>
					<div class="mm2-bhv">
						<div class="mm2-item-btn-prev">
							<span class="mm2-icon-i-item-prev"></span>
						</div>
						<div class="mm2-item-btn-next"><span class="mm2-icon-i-item-next"></span></div>
					</div>
				</div>
			</div>			
		</div>	
		<div class="std-footer">			
			<div class="mm2-std-footer-left">
				<div class="mm2-btn-footer mm2-btn-back">
					<span lang="lng_back">Back</span>
				</div>
			</div>
			<div class="mm2-std-footer-center">
				<div class="mm2-inf-footer mm2-footer-item-pagecounter">
					<span>1/1</span>
				</div>
			</div>
			<div class="mm2-std-footer-right">
				<div class="mm2-btn-footer mm2-btn-basket">
					<span>
						<div class="mm2-btn-basket__icon mm2-icon-i-cart"></div>	
						<div class="mm2-btn-basket__text amount">$ 0</div>
					</span>
				</div>
			</div>
		</div>
	</div>

	<div class="std-view view-iiko-modifiers">
		<div class="std-header">		

			<div class="mm2-std-header-btn-back"><span class="mm2-icon-i-back"></span></div>
			<div class="mm2-std-header-icon"></div>
			<div class="mm2-std-header-title"><span><!-- Menu title --></span></div>

			<div class="mm2-std-header-btn-right mm2-btn-close-items">
				<span class="mm2-icon-i-close"></span>
			</div>
			
		</div>
		<div class="std-content">
			<div class="mm2-std-content-wrapper">
				<div class="mm2-item-modifiers ">
					<div class="mm2-item-modifiers-wrapper">
						<div class="mm2-item-modifiers__title-section">
							<div class="mm2-item-modifiers__item-title">--</div>
							<div class="mm2-item-modifiers__item-price">--</div>
							<div class="mm2-item-modifiers__item-volume">--</div>
						</div>				
						<div class="mm2-item-modifiers__sizes-section"><!-- buttons --></div>	
						<div class="mm2-item-modifiers__subtitle-section">
							<div>Добавить</div>
						</div>								
						<div class="mm2-item-modifiers__list-section"><!-- list --></div>
					</div>			
				</div>

			</div>			
		</div>	
		<div class="std-footer modifiers-special">			
			<div class="mm2-std-footer-left">
				<div class="mm2-btn-footer mm2-btn-back">
					<span lang="lng_back">Back</span>
				</div>
			</div>
			<div class="mm2-std-footer-center">
				<div class="mm2-footer-modifiers__count-buttons noselect">
					<div class="mm2-footer-modifiers__count-buttons_minus"><span>–</span></div>
					<div class="mm2-footer-modifiers__count-buttons_counter"><span>1</span></div>
					<div class="mm2-footer-modifiers__count-buttons_plus"><span>+</span></div>
				</div>
			</div>
			<div class="mm2-std-footer-right">
				<div class="mm2-footer-modifiers__basket">
					<span><div>В корзину</div><div>0 руб.</div></span>					
				</div>
			</div>
		</div>
	</div>

	<div class="std-view view-table-change">
		<div class="std-header">
			<div class="mm2-std-header-btn-back"><span class="mm2-icon-i-back"></span></div>
			<div class="mm2-std-header-icon mm2-icon-main_dishes"></div>
			<div class="mm2-std-header-title"><span>Замена столика</span></div>
			<div class="mm2-std-header-btn-right mm2-btn-close-items">
				<span class="mm2-icon-i-close"></span>
			</div>
		</div>
		<div class="std-content">
			<div class="mm2-std-content-wrapper">
				<div class="mm2-alltables-list">
					list of tables
				</div>
			</div>
		</div>
		<div class="std-footer">			
			<div class="mm2-std-footer-left">
				<div class="mm2-btn-footer mm2-btn-back">
					<span lang="lng_back">Back</span>
				</div>
			</div>
			<div class="mm2-std-footer-right">
				<div class="mm2-btn-footer mm2-btn-save">
					<span lang="lng_choose">OK</span>
				</div>
			</div>
		</div>
	</div>

	<div class="std-view view-showcart">		
		<div class="std-header">
			
		<div class="mm2-std-header-btn-back"><span class="mm2-icon-i-back"></span></div>
		<div class="mm2-std-header-icon mm2-icon-i-cart-2"></div>
		<div class="mm2-std-header-title"><span lang="lng_shopping_cart">Cart</span></div>
		
		<div class="mm2-std-header-btn-right mm2-header-btn-clear">
			<span class="mm2-icon-i-cart-clear"></span>
		</div>

		</div>
		<div class="std-content mm2-cart-isempty">
			<div class="mm2-std-content-wrapper">
			<div class="mm2-cart-allitems-off-message" lang="lng_cart_is_off">The cart disabled by admin</div>
			<div class="mm2-cart-allitems-empty-message" lang="lng_cart_is_empty">The cart is empty</div>
			<div class="mm2-cart-allitems"><!-- tpl: mm2-cart-item --></div>
			<div class="mm2-cart-total">
				<div>
					<p><span lang="lng_total">Total:</span> <span class="value"><!-- $ 0 --></span></p>
				</div>
			</div>
			</div>
		</div>
		<div class="std-footer">
			<div class="mm2-std-footer-left">
				<div class="mm2-btn-footer mm2-btn-back">
					<span lang="lng_back">Back</span>
				</div>
			</div>
			<div class="mm2-std-footer-center">
				<div class="mm2-btn-footer mm2-btn-clear">
					<span lang="lng_clear_shopping_cart">Clear shopping cart</span>
				</div>
			</div>
			<div class="mm2-std-footer-right">
				<div class="mm2-btn-footer mm2-btn-ordering mm2-btn-disabled">
					<span lang="lng_proceed_to_checkout">Checkout</span>
				</div>
			</div>
		</div>
	</div>	

	<div class="std-view view-order-cancel">
		<div class="std-header">
			
		<div class="mm2-std-header-btn-back"><span class="mm2-icon-i-back"></span></div>
		<div class="mm2-std-header-icon mm2-icon-i-cart-2"></div>
		<div class="mm2-std-header-title"><span lang="lng_sending_an_order">Sending an order</span></div>
			
		</div>		
		<div class="std-content">
			<div class="mm2-std-content-wrapper">
				<div class="mm2-order-cancel-content">
					<div class="mm2-order-cancel-message"><!-- report about wrong --></div>
				</div>
			</div>
		</div>
		<div class="std-footer">
			<div class="mm2-std-footer-left">
				<div class="mm2-btn-footer mm2-btn-back"><span lang="lng_back">Back</span></div>
			</div>
			<div class="mm2-std-footer-center">
				<div class="mm2-btn-footer mm2-btn-close-menu"><span lang="lng_close">Close</span></div>
			</div>
		</div>
	</div>	

	<div class="std-view view-ordering">		
		<div class="std-header">
			<div class="mm2-std-header-btn-back"><span class="mm2-icon-i-back"></span></div>
			<div class="mm2-std-header-icon mm2-icon-i-cart-2"></div>
			<div class="mm2-std-header-title"><span lang="lng_ordering">Ordering</span></div>
		</div>		
		<div class="std-content">
			<div class="mm2-std-content-wrapper">								

				<div class="mm2-cart-result"><!-- message --></div>

				<div class="mm2-ordering-params ">

					<div class="mm2-ordering-mode">Я заберу заказ сам</div>
					
					<!-- P H O N E S -->
					<div class="mm2-ordering-params-group">
						<div class="mm2-ordering-field-name" lang="lng_your_phone">My phone:</div>
						<div class="mm2-ordering-field">
							<div class="mm2-ordering-field__container">
								<input maxlength="20" class="mm2-error" name="u_phone" type="text" placeholder="+7 ...">
							</div>
						</div>
					</div>

					<!-- A L E R T   M E S S A G E - 1 -->
					<div class="mm2-ordering-message-1">
						<span lang="lng_need_user_phone">Please provide your phone to clarify the details of the order</span>
					</div>

					<!-- A D D R E S S -->					
					<div class="chefsmenu-mode-only">											
						<div class="mm2-ordering-params-group mm2-ordering-params__user_address">
							<div class="mm2-ordering-field-name" lang="lng_where_to_deliver">Where to deliver:</div>
							<div class="mm2-ordering-field">
								<div class="mm2-ordering-field__container">
									<textarea maxlength="250" class="mm2-error mm2-ordering-address" 
									name="u_address"></textarea>
								</div>
							</div>		
						</div>				
					</div>
					<div class="iiko-mode-only">											
						<div class="mm2-ordering-params-group mm2-ordering-params__user_address">
							<div class="mm2-ordering-field-name" lang="lng_where_to_deliver">Where to deliver:</div>

							<div class="mm2-ordering-field">
								<div class="mm2-ordering-field__inline">
									<div class="mm2-ordering-field__label-left mm2-w15">Ул.:</div>
									<div class="mm2-ordering-field__container mm2-w85 ui-widget">
										<input maxlength="60" class="mm2-streets mm2-error" name="u_street" type="text">
									</div>									
								</div>								
								<hr class="mm2-opacity-line">
								<div class="mm2-ordering-field__inline mm2-flex-right mm2-right">
									<div>&nbsp;</div>
									<div class="mm2-ordering-field__label-left mm2-w20">Дом:</div>
									<div class="mm2-ordering-field__container mm2-w20">
										<input maxlength="10" class="mm2-error" name="u_house" type="text">
									</div>
									<div class="mm2-ordering-field__label-left mm2-w20">Кв:</div>
									<div class="mm2-ordering-field__container mm2-w20">
										<input maxlength="10" class="mm2-error" name="u_flat" type="text">
									</div>									
								</div>
								<hr class="mm2-opacity-line">
								<div class="mm2-ordering-field__inline mm2-flex-right mm2-right">
									<div>&nbsp;</div>
									<div class="mm2-ordering-field__label-left mm2-w25">Подъезд:</div>
									<div class="mm2-ordering-field__container mm2-w20">
										<input maxlength="10" class="mm2-error" name="u_entrance" type="text">
									</div>
									<div class="mm2-ordering-field__label-left mm2-w25">Этаж:</div>
									<div class="mm2-ordering-field__container mm2-w20">
										<input maxlength="10" class="mm2-error" name="u_floor" type="text">
									</div>									
								</div>								
							</div>		
						</div>				
					</div>					

					<!-- A L E R T   M E S S A G E - 2 -->
					<div class="mm2-ordering-message-2">
						<span lang="lng_need_user_address">Please specify the delivery address of the order</span>
					</div>
					
					<!-- T I M E -->
					<div class="mm2-ordering-params-group">
						

						<div class="mm2-ordering-field-name mm2-pick-it-up-at" lang="lng_pick_it_up_at">
							Il'l pick it up at:
						</div>						
						
						<div class="mm2-ordering-field-name mm2-date-time-to" lang="lng_date_time_to">
							When would you like your order:
						</div>

						<div class="mm2-ordering-field">
							
							<!-- p a r t - 1 -->
							<div class=" mm2-ordering-select-date">
								<select>
									<option value="0" lang="lng_today">Today</option>
									<option value="1" lang="lng_tomorrow">Tomorrow</option>
									<option value="2" lang="lng_day_after_tomorrow">Day after tomorrow</option>
								</select>
							</div>

							<!-- p a r t - 2 -->
							<div class=" mm2-ordering-select-usertime">								
								<select><!-- options --></select>
							</div>
							
							<!-- p a r t - 3 -->
							<div class=" mm2-ordering-select-time">								
								<select>
									<option value="0" lang="lng_now">Now</option>
									<option value="1" lang="lng_in_an_hour">In an hour</option>
									<option value="2" lang="lng_in_two_hours">In 2 hours</option>
									<option value="3" lang="lng_in_three_hours">In 3 hours</option>
								</select>
							</div>

							<a href="#" class="mm2-ordering-select-switch"></a>	

						</div>
					</div>
					<!-- C O M M E N T S -->
					<div class="mm2-ordering-params-group">
						<div class="mm2-ordering-field-name" lang="lng_order_comments">
							Comments to the order:
						</div>
						<div class="mm2-ordering-field">
							<div class="mm2-ordering-field__container">
								<textarea maxlength="250" class="mm2-ordering-comment" name="u_comment"></textarea>
							</div>														
						</div>		
					</div>


					<div class="android-ordering-footer">			
						<div class="mm2-std-footer-left ">
							<div class="mm2-btn-footer mm2-btn-back">
								<span lang="lng_back">Back</span>
							</div>
						</div>
						<div class="mm2-std-footer-right">
							<div class="mm2-btn-footer mm2-btn-send">
								<span lang="lng_send">Send</span>
							</div>
						</div>
					</div>

				</div>			

			</div>
		</div>

		<div class="std-footer">			
			<div class="mm2-std-footer-left ">
				<div class="mm2-btn-footer mm2-btn-back">
					<span lang="lng_back">Back</span>
				</div>
			</div>
			<div class="mm2-std-footer-right">
				<div class="mm2-btn-footer mm2-btn-send">
					<span lang="lng_send">Send</span>
				</div>
			</div>
		</div>
	</div>

	<div class="std-view view-order-ok">
		<div class="std-header">			
			<div class="mm2-std-header-btn-back"><span class="mm2-icon-i-back"></span></div>
			<div class="mm2-std-header-icon mm2-icon-i-cart-2"></div>
			<div class="mm2-std-header-title"><span lang="lng_order_sent">Order sent</span></div>
			<div class="mm2-header-phone">
				<div class="mm2-header-phone__icon mm2-icon-i-phone"></div>
				<div class="mm2-header-phone__text"></div>
			</div>						
		</div>
		<div class="std-content">
			<div class="mm2-std-content-wrapper">
				<div class="mm2-order-ok-params">
					<div class="mm2-order-ok-report">
						<div class="mm2-order-ok-report-main"><!-- number of order --></div>
						<div class="mm2-order-ok-report-other"><!-- order params --></div>
					</div>
					<div class="mm2-order-ok-description">
						<div class="mm2-order-ok-demo-message">
							<span lang="lng_menu_is_in_demo_mode_msg">
								<!-- the menu is in demo mode -->
							</span>
							<span>–</span>
							<span lang="lng_menu_is_in_demo_mode_msg_2">
								<!-- if you are admin, cusomize telegram chat -->
							</span>							
						</div>						
						<div class="mm2-order-ok-operator-message">
							<span lang="lng_thankful_msg" class="manager-mode">								
								<!-- our manager will contact with you -->
							</span>
							<span lang="lng_thankful_waiter_msg" class="waiter-mode">									
								<!-- waiter will soon come to you -->
							</span>							
						</div>
						<div class="mm2-order-ok-notg-message">							
								Заказ сохранен, но не отправлен. 
								Администратор не настроил Корзину 
								для получения заказов.													
						</div>						
						<div class="mm2-order-ok-cart">
							<h2 lang="lng_you_ordered">You ordered:</h2>
							<div class="mm2-order-ok-cart-list"></div>
							<div class="mm2-order-ok-total-cost"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="std-footer">			
			<div class="mm2-std-footer-left ">
				<div class="mm2-btn-footer mm2-btn-back">
					<span lang="lng_back">Back</span>
				</div>
			</div>
			<div class="mm2-std-footer-right">
				<div class="mm2-btn-footer mm2-btn-close-menu">
					<span lang="lng_close">Close</span>
				</div>
			</div>
		</div>
	</div>

	<div class="std-view view-choosing-mode">
		<div class="std-header">
			<div class="mm2-std-header-btn-back"><span class="mm2-icon-i-back"></span></div>
			<div class="mm2-std-header-icon mm2-icon-i-cart-2"></div>
			<div class="mm2-std-header-title"><span lang="lng_ordering">Ordering</span></div>
		</div>
		<div class="std-content">
			<div class="mm2-std-content-wrapper">
				<div class="mm2-view-choosing-buttons">
					<div class="mm2-btn-choosing mm2-btn-choosing-pick-up">
						<div class="mm2-btn-choosing-image mm2-btn-choosing-image__pick_up"></div>
						<div class="mm2-btn-choosing-lable" 
							lang="lng_pick_up_the_order_myself">I'll pick it up myself</div>							
						<div class="mm2-btn-choosing-image mm2-btn-choosing-image__arrow"></div>	
					</div>
					<div class="mm2-btn-choosing mm2-btn-choosing-delivering">
						<div class="mm2-btn-choosing-image mm2-btn-choosing-image__delivery"></div>
						<div class="mm2-btn-choosing-lable" 
							lang="lng_choosing_delivering">Choose time and address</div>
						<div class="mm2-btn-choosing-image mm2-btn-choosing-image__arrow"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="std-footer">			
			<div class="mm2-std-footer-left ">
				<div class="mm2-btn-footer mm2-btn-back">
					<span lang="lng_back">Back</span>
				</div>
			</div>
		</div>
	</div>

	<!-- inside parts -->

	<div class="mm2-item">
		<div class="mm2-item-data">
			
			<div class="mm2-item-data-container">
				
				<div class="mm2-item-image"></div>

				<div class="mm2-item-description">
					<div class="mm2-item-descr-group">
						<h2 class="mm2-item-title"><!-- title --></h2>
						<div class="mm2-item-flags2">
							<div class="mm2-item-flag2-spicy"><span lang="lng_flag_spicy">New</span></div>
							<div class="mm2-item-flag2-hit"><span lang="lng_flag_hit">Hit</span></div>
							<div class="mm2-item-flag2-vege"><span lang="lng_flag_vege">Vege</span></div>
						</div>
						<p class="mm2-item-about"><!-- about --></p>
					</div>
					<div class="mm2-item-volume2"><!-- volume2 --></div>
					<div class="mm2-item-volume"><!-- volume --></div>					
					<div class="mm2-item-price"><span><!-- price --></span></div>
					<div class="mm2-item-btns-sizes-desktop noselect"><!-- SIZE BUTTONS --></div>
					
				</div>					
				
				<div class="mm2-item-params">							
					<div class="mm2-item-btns-zoom">
						<div class="mm2-btn-zoom-in mm2-icon-i-zoom-in"></div>
						<div class="mm2-btn-zoom-out mm2-icon-i-zoom-out"></div>
					</div>
					<div class="mm2-item-params-flags">
						<div class="mm2-item-flag-spicy" lang="lng_flag_spicy">New</div>
						<div class="mm2-item-flag-hit" lang="lng_flag_hit">Hit</div>						
						<div class="mm2-item-flag-vege" lang="lng_flag_vege">Vege</div>
					</div>
				</div>

				<div class="mm2-item-image-loader"><div><span></span></div></div>

			</div>			
			<div class="mm2-item-btn-more-largescreen">
				<span lang="lng_more">More...</span>
				<span lang="lng_rollup">Roll-up</span>
			</div>
			<div class="mm2-item-bhv-portrait"></div>
			<div class="mm2-item-bhv-landscape"></div>
		
		</div>
		<div class="mm2-item-btns-sizes-mobile"><!-- SIZE BUTTONS --></div>
		<div class="mm2-item-anim"><div></div></div>
		<div class="mm2-item-footer">
			<div class="mm2-item-footer-wrapper">
				<div class="mm2-item-footer-right-section">
					<div class="mm2-item-btn-addtocart">
						<div class="mm2-item-btn-addtocart__label">Добавить<br>в корзину</div>
						<div class='mm2-item-btn-addtocart__icon'></div>
						<div class='mm2-item-btn-addtocart__count'>0</div>
					</div>
				</div>				
			</div>			
		</div>	
		<div class="mm2-item-modifiers-panel">
			<div class="mm2-item-modifiers-panel__list"></div>
			<div class="mm2-item-modifiers-panel__footer">
				<div>+ 1 -</div>
				<div>в корзину</div>
			</div>
		</div>
	</div>

	<div class="mm2-cart-item">		
		<div class="mm2-cart-title">
			<div class="mm2-cart-title__item"><!-- Item name --></div>
			<div class="mm2-cart-title__volume"><!-- Item volume --></div>
			<div class="mm2-cart-title__modifiers"><!-- Modifiers name --></div>
		</div>
		<div class="mm2-cart-quantity"><!-- 1 х 50 Р --></div>
		<div class="mm2-cart-buttons"> 
			<div class="mm2-cart-more"><span>+</span></div>
			<div class="mm2-cart-less"><span>–</span></div>
		</div>
	</div>

	<div class="mm2-ordered-item">		
		<div class="mm2-ordered-title">
			<div class="mm2-ordered-title__item"></div>
			<div class="mm2-ordered-title__volume"></div>
			<div class="mm2-ordered-title__modifiers"></div>
		</div>
		<div class="mm2-ordered-quantity"><!-- 1 х 50 Р --></div>
	</div>	

</div>