
html, body {
	padding: 0; margin:0;
	width:100%;height:100%;min-height: 100%;
	position:relative;		
}

body{
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-focus-ring-color: rgba(255, 255, 255, 0);
    font-size: 100%;font-family: arial; 
    outline: none;
}

* { box-sizing: border-box; -moz-box-sizing: border-box;}

a {color: black;}
p,h1,h2,h3{padding: 0;margin:0;}

input[placeholder] {text-overflow:ellipsis;}
input::-moz-placeholder {text-overflow:ellipsis;} 
input:-moz-placeholder {text-overflow:ellipsis;} 
input:-ms-input-placeholder {text-overflow:ellipsis;}
input:focus::-webkit-input-placeholder {color: transparent;transition:.3s;}
input:focus::-moz-placeholder {color: transparent;transition:.3s;}
input:focus:-moz-placeholder {color: transparent;transition:.3s;}
input:focus:-ms-input-placeholder {color: transparent;transition:.3s;}  

.noselect {
  -webkit-touch-callout: none; -webkit-user-select: none;-khtml-user-select: none; 
  -moz-user-select: none; -ms-user-select: none; user-select: none;
}


/* ---- SHADOW LAYER ----- */
.shadow-layer{
	position: fixed;top:0;left: 0;width: 100%;height: 100%;
	background: rgba(0,0,0,.5);
	z-index: 9000;		
	display: none;
}
body.shadow-mode .shadow-layer{display: block;}
body.shadow-mode{overflow: hidden;}

/* ---- MAINTENANCE ----- */
.maintenance-layer{
	position: fixed;top:0;left: 0;width: 100%;height: 100%;
	background: #FFF040;
	z-index: 10000;
	color: black;
	padding: 20px;
	display: none;	
}
body.maintenance-mode .maintenance-layer{display: block;}
body.maintenance-mode {overflow: hidden;}
.maintenance-layer h1{font: 1.2em arial;line-height: 1.2;margin: .5em 0 1em 0; }
.maintenance-layer p {font: .8em arial; line-height: 1.8;}

/* ---- BETA MODE ----- */
.beta-string{
	background: #FFF040;
	font: .8em arial;
	text-align: center;
	letter-spacing: 1px;
	padding:4px 4px 6px 4px ;
	border-bottom: 1px solid white;
	display: none;
}
.beta-string a{text-decoration: none;white-space: nowrap;font-weight: bold;}
.beta-string a:hover{text-decoration: underline;}
body.beta-mode .beta-string{display: block;}

body.chefsmenu-is-showed {position: fixed;}


/* ---- ALL SITE ----- */
.all-site {position: relative;background: white;}

.site-header{position: relative;margin: 5px 0 0 0;}
.site-logo{width: 12.5%;height: auto;margin:.5vw 0 .5vw 6% ;}

.site-top-slogan{  
	position: absolute;right: 13%; top: 50%; 
	font-size: 3.1vw;font-weight: bold;line-height: 1.1; 
	transform:translateY(-50%);
}

.mobile-btn-signin{
	position: absolute;
	right: 24vw;
	top:0;
	background: #fff040;
	font: 1.3vw arial;
	color:black;
	width: 31vw;
	height: 17.5vw;
	max-height: 80px;
	border-radius: 0 0 6px 6px;
	display: none;
}

.mobile-btn-signin span{
	font-size: 4.8vw;position: absolute;
	right: 4vw;bottom:4vw;
}
.mobile-btn-signin img{	
	position: absolute;
	bottom: 4vw;left:4vw;width: 6vw;height: 6vw;	
}

.mobile-menu-opened .all-site{border-top:1px dotted #000000; } 
.mobile-menu {
	position: absolute;top:0;transform:translateY(-100%);
	left: 0;background: white;width: 100%;opacity: 0;
	transition:.3s;
}
.mobile-menu-opened .mobile-menu{transform:translateY(0);opacity: 1; transition:.3s;}
.mobile-menu ul {padding: 0;margin: 2.5vw 5%;list-style: none;}
.mobile-menu ul li {padding: 0;float: left;margin: 0 3vw 0 0;}
.mobile-menu a{ text-decoration: none; font-size: 1.4vw;}
.mobile-menu ul:after{content: "";clear: both;display: table;}
.mobile-menu a:hover{text-decoration: underline;}

.mobile-btn-burger{
	width: 3.5vw;height:3.5vw; position: absolute;top:50%;right: 4%;
	transform:translateY(-50%);cursor: pointer;z-index: 200;
}
.mobile-btn-burger span{
	display: block;position: absolute;top:0;left:0;width: 100%;height: 100%;transition:.3s;
}
.mobile-btn-burger span:nth-child(1){
	background: url('../../site/i/site2-exp-24.svg') no-repeat left center;
	background-size:auto 100%;opacity: 1;
	transform:rotateZ(0deg) scale(1);
}
.mobile-btn-burger span:nth-child(2){
	background: url('../../site/i/site2-exp-24.svg') no-repeat right center;
	background-size:auto 100%;opacity: 0;
	transform:rotateZ(0deg) scale(0);
}
.mobile-menu-opened .mobile-btn-burger span:nth-child(1){opacity: 0;transform:rotateZ(270deg) scale(0);}
.mobile-menu-opened .mobile-btn-burger span:nth-child(2){opacity: 1;transform:rotateZ(270deg) scale(1);}




/*
   __________________   _____   ___    __________________
  / ____/ ____/_  __/  /  _/ | / / |  / /  _/_  __/ ____/
 / / __/ __/   / /     / //  |/ /| | / // /  / / / __/
/ /_/ / /___  / /    _/ // /|  / | |/ // /  / / / /___
\____/_____/ /_/    /___/_/ |_/  |___/___/ /_/ /_____/

*/

.site-section-create{position: relative;overflow: hidden;}
.site-section-create:after{content: "";clear: both;display: table;}
.site-section-create-picture{background: #f0f0f0;width: 65%;float: left;position: relative;}
.site-section-create-picture svg{width: 100%;height: auto;}

/* SITE SLIDER */

.site-slider{
	position: absolute;width: 100%;height: 100%;top:0;left: 0;background: #FFF040;
}
.site-slider__loader{display: none;}

.site-slider__large{
	position: absolute;top:0;left:0;width: 100%;height: 100%;overflow: hidden;
}
.site-slider__small{
	position: absolute;top:0;left:0;width: 100%;height: 100%;overflow: hidden;
	display: none;
}

.site-slider__dots{
	position: absolute;bottom:10px;right: 20px;height:15px; width: 20%;opacity: 0;transition:.3s;
	transform:translateX(-10px);will-change:transform;
}
.site-slider__dots:after{content: "";display: table;clear: both;}
.site-slider__dots div{background: url('../i/slider-dot.svg') no-repeat center top/ auto 200%;transition:.3s;}
.site-slider__dots div.current{background-position: bottom;}
.site-slider.ready-to-use .site-slider__dots{opacity: 1;transform:translateX(0);}

/* CREATE INVITE */

.site-section-create-invite{ 
	position: absolute;top:0;right: 0;background: #FFF040;width: 35%;height: 100%; transition:.3s; 
	border-left: 5px solid #ffffff;
}
.site-section-create-invite-sizer svg{width: 100%;height: auto;min-height: 260px;}
.site-section-create-invite-wrapper{
	position: absolute;left:0;top:0;width: 100%;height: 100%;padding: 3vw 0 0 5%;	
}

.site-slogan{font-size: 4.8vw;font-family: arial;line-height: 1.0;margin:0 0 2vw 0;}
.site-slogan span{display: block;}



.btn-create{
	font-size: 2.1vw;font-weight:bold; 
	border-radius: 1.2vw;padding:2.5vw 2.9vw;background: #FFF040; cursor: pointer;position: absolute; 
	right: 10%;bottom:3vw;box-shadow: 0 2px 10px rgba(0,0,0,.4);
	transform:translateX(0);transition:0s;opacity: 1;
}

.btn-create:hover{box-shadow: 0 2px 20px rgba(0,0,0,.4);transition:.3s;}
.btn-create:active{box-shadow: 0 2px 10px rgba(0,0,0,.4);transition:0s;}
.site-no-reg{font-size: 1.6vw;font-family: arial;}
.site-no-reg span{display: block;}

/* INTRO VIDEO */
#video-intro{position: relative;width: 100%;height: 100%;}
#video-intro.paused .video-intro-btn-play{
	transform:translateY(0) scale(1);opacity: 1;
}
#video-intro.loading-now .video-intro-btn-play{display: none;}
#video-intro .video-intro-loader{
	position: absolute;width: 55px;height: 55px;left:30px;bottom:20px;	
	transform:scale(1.2);opacity: 0;transition:.3s;
}
#video-intro.loading-now .video-intro-loader{transform:scale(1);opacity: .5;}
#video-intro .video-intro-loader img{width: 100%;max-width: 100%;}
#video-intro.loading-now .video-intro-loader img{animation:video-intro-loader-ani 2s infinite linear;}
@keyframes video-intro-loader-ani{100%{transform:rotateZ(360deg);}}

.video-intro-btn-play{
	position: absolute;bottom:20px;left:30px;
	width: 55px;height: 55px;cursor: pointer;
	background: #FBF040;transition:.3s;opacity: 0;
	transform:translateY(-30px) scale(2);
	border-radius: 50%;border:3px solid white;
}
.video-intro-btn-play svg{width: 100%;height: 100%;}


/* SITE VIDEO */
.site-video {position: relative;width: 100%; cursor: pointer;}
.site-video.off-screen{}
.site-video-btn-play{
	position: absolute;top:50%;left:50%;
	width: 10vw;height: 10vw;
	max-width: 80px;max-height: 80px;
	cursor: pointer;
	background: #FBF040;transition:.3s;	
	transform:translate(-50%,-50%) scale(1);
	opacity: 1;	
	border-radius: 50%;border:3px solid white;	
}
.site-video-btn-play svg{width: 100%;height: 100%;}
.site-video.playing-now .site-video-btn-play{
	transform:translate(-50%,-80%) scale(2);
	opacity: 0;	
}




/* CREATE FORMS */

.site-section-create-forms {
	position: absolute;bottom:0;right:-55%;width: 55%;height: 100%;background: #FFF040;padding: 3vw 0 0 3%;
	border-left: 5px solid #ffffff;
}
.site-section-create-forms-close {
    position: absolute; width: 30px; height: 30px;background: url('../i/site-page-close.svg') no-repeat center;
    background-size: 60%;right: 7%;top: 10px;cursor: pointer;
    z-index: 100;
}

.site-section-create-forms-title{ font-size: 2.1vw; font-family: arial; margin: 1.5vw 0 1.9vw 0; width: 80%; }
.site-section-create-forms-inputs{margin: 0 0 3vw 0;width: 80%; }
.site-section-create-forms-inputs input{font: 1.8vw arial;border:1px solid gray;padding:15px 15px 12px 15px;width: 90%;margin:0 0 10px 0;border-radius: 10px; width: 100%;}


.site-section-create-forms-inputs { height: 10vw; }
.site-section-create-forms-inputs > div:nth-child(1) input {opacity: 0;transition:.4s;transform:translateX(30px);}
.site-section-create-forms-inputs > div:nth-child(2) input {opacity: 0;transition:.4s .2s;transform:translateX(30px);}

.site-section-create-forms-answer{width: 52%;}
.userinput-err-message{min-height: 60px; font: 1.2vw arial;background: url('../i/site-attention-sign.svg') no-repeat top left;padding: 2px 0 0 48px;background-size: 28px auto;}
.userinput-ok-message{ min-height: 60px; font: 1.2vw arial;background: url('../i/site-envelope.svg') no-repeat top left;padding: 2px 0 0 48px;background-size: 28px auto;}

.site-section-create-forms-button{
	font-size: 1.9vw;font-weight:bold; 
	border-radius: 1.2vw;padding:1.9vw 2.9vw;background: #FFF040; cursor: pointer;position: absolute; 
	right: 4%;bottom:3vw;box-shadow: 0 2px 10px rgba(0,0,0,.4);
	transition:2s;
}
.site-section-create-forms-button:hover{box-shadow: 0 2px 20px rgba(0,0,0,.4);transition:.3s;}
.site-section-create-forms-button:active{box-shadow: 0 2px 10px rgba(0,0,0,.4);transition:0s;}

.expanded .site-section-create-forms{transform:translateX(-100%);transition: .5s .5s}
.expanded .site-section-create-invite{transform:translateX(-50%);transition: .5s .5s;}
.expanded .btn-create{transform:translateX(500px);transition:1s;opacity: 0;}

.show-user-inputs .site-section-create-forms-inputs > div input{ opacity: 1; transform:translateX(0px); }


.get-invite-loader{ 
	position: absolute;
	width: 7vw;height: 7vw;    
    right: 6%; bottom: 4vw;
	border:1px solid black;border-radius: 50%;opacity: 0;
	transform:translateX(500px) scale(2);
	transition:1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.get-invite-loader>div:nth-child(1){
	position: absolute;width:0;height: 38%;border-right:1px solid black;top:12%;left:50%;
	animation:animationclock 10s linear infinite;transform-origin:0% 100%;
}
.get-invite-loader>div:nth-child(2){
	position: absolute;width:0;height: 50%;border-right:1px solid black;top:0;left:50%;
	animation:animationclock 1s linear infinite;transform-origin:0% 100%;
}
@keyframes animationclock {100%{transform:rotateZ(360deg);}}

.site-section-create.now-loading .get-invite-loader{
	opacity:1;transform:translateX(0) scale(1);
}
.site-section-create.now-loading .site-section-create-forms-button{
	opacity:0;transform:translateX(500px);	transition:1s;
}


/* CREATE SUCCEED */
.site-section-create-succeed {
	position: absolute;bottom:0;right:-55%;width: 55%;height: 100%;
	background: #FFF040;padding: 6vw 0 0 0vw;overflow: hidden;
	border-left: 5px solid #ffffff;
}

.site-section-create-succeed-close {
    position: absolute; width: 30px; height: 30px;background: url('../i/site-page-close.svg') no-repeat center;
    background-size: 60%;right: 7%;top: 10px;cursor: pointer;
    z-index: 100;
}
.site-section-create-succeed-message{width: 75%;margin-left: 18%;height: 80%;position: relative;}
.site-section-create-succeed-message:after{
	content: "";
    display: table;
    clear: both;
    border-bottom: 1.3vw solid white;
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: -3vw;
}
.site-section-create-succeed-message .img-01 {
	width: 5vw;
    position: absolute;
    top: -1.3vw;
    left: -7vw;
}
.site-section-create-succeed-message .img-02 {width: 35%;position: absolute;bottom:0;right:0;transform:translateX(-100%);opacity:0;}

.site-section-create-succeed-message h1{font:2.1vw arial; margin: 0 0 2vw 0;}
.site-section-create-succeed-message p{font: 1.4vw arial;  line-height: 1.4; margin: 0 0 1vw 0;width: 85%;}

.site-section-create-succeed-offsettop{}
.site-section-create-succeed-offsettop svg{width: 100%;height: auto;}

.succeed .site-section-create-succeed{transform:translateX(-100%);transition:.5s}
.succeed .site-section-create-succeed-message .img-01{transform:scale(1);opacity:1; transition: .5s .5s;}
.succeed .site-section-create-succeed-message .img-02{transform:scale(1);opacity:1; transition: .5s .3s;}



/*         _                _
   _____(_)___ _____     (_)___
  / ___/ / __ `/ __ \   / / __ \
 (__  ) / /_/ / / / /  / / / / /
/____/_/\__, /_/ /_/  /_/_/ /_/
       /____/
*/

.sign-in-panel{
	width: 100%;text-align: center;position: absolute;top:0;left:0;
	transform:translateY(-110%);transition:.6s;z-index: 9100;
	display: none;
}
.sign-in-panel.show{
	transform:translateY(0);	
}

.sign-in-panel-container{
	position: relative;
	background: white;
	padding: 40px 5% 25px 5%;
	box-shadow: 0 2px 4px rgba(0,0,0,.4);
	width: 90%;margin: 0 auto;
	border-radius: 0 0 10px 10px;
	max-width: 640px;
}
.sign-in-err-message {
	text-align: left;font: 13px arial;padding:4px 0 0 40px;margin: 10px 0;margin:5px 0 0 0;
	background: url("../i/site-sign-in-attention.svg") no-repeat 0 0;
	background-size: 26px 26px; min-height: 30px;
}

.sign-in-loader{
	text-align: left;font: 13px arial;padding:5px 0 0 40px;margin: 10px 0;
	background-size: 26px 26px; min-height: 30px;position: relative;	
}
.sign-in-loader:after{
	content: "";position: absolute;left: 0;top:0;width: 26px;height: 26px;
	background: url("../i/site-sign-in-loader.svg") no-repeat 0 0;background-size: 26px;
	animation:sign-in-loader-anim 2s  linear infinite;
}
@-webkit-keyframes sign-in-loader-anim{
	0%{ -webkit-transform:  rotate(0deg)  ;}     
	100%{ -webkit-transform:  rotate(360deg)  ;} 
}


.sign-in-btn-close{
	width: 26px;height: 26px;position: absolute;top:7px;right: 2%;
	cursor: pointer;background: url("../i/site-sign-in-close.svg") no-repeat center;background-size: 26px; 
}
.sign-in-buttons{margin:20px 0 0 0; }
.sign-in-buttons:after{display: table;clear: both;content: "";}
.sign-in-btn-enter,
.sign-in-btn-get{
	display: inline-block;font-family: arial;font-size: 18px;
	padding: 6px 40px 6px 16px;border-radius:6px;float: right;
	background: #FFF040 url("../i/site-sign-in-enter.svg") no-repeat 90% center;background-size: 26px;
	cursor: pointer;
}

.sign-in-btn-close3{
	display: inline-block;font-family: arial;font-size: 18px;
	padding: 6px 16px 6px 16px;border-radius:6px;float: right;
	background: #FFF040;
}

.sign-in-btn-fogot{float: left;padding:5px 0 0 0;}
.sign-in-btn-fogot a{color: black;font-size: 14px;font-family: arial; }
.sign-in-fogot-description{font-family: arial;font-size: 16px;text-align: left;padding:10px 0; }
.sign-in-panel input{
	font-size: 18px;font-family: arial;padding:10px 10px;border:1px solid #E3E3E3;
	margin-bottom:6px; width: 100%;
}
.sign-in-sections .section{display: none;position: relative;}
.sign-in-sections .section-container{opacity: 0;transition:.5s;transform:translateY(-50px);}
.sign-in-sections .current .section-container{opacity: 1;transform:translateY(0);}

.sign-in-sections .section-touchonly .section-container > div{
	width: 80%;text-align: left;padding: 8px 0 0 77px;
	background: url("../i/site-sign-in-touchonly.svg") no-repeat 0 0;
	background-size: 45px auto;margin:0 auto;
}
.sign-in-sections .section-touchonly h1{font-family: arial;font-size: 18px;margin: 0 0 10px 0;font-weight: normal;}
.sign-in-sections .section-touchonly p{font-family: arial;font-size: 14px;margin: 0 0 0 0;line-height: 1.6;}

.sign-in-sections .section-done >div {
	padding: 5px 0 0 40px;
	background: url("../i/site-sign-in-ok.svg") no-repeat 0 0;
	background-size: 26px 26px; min-height: 30px;	
}
.sign-in-ok-message {text-align: left;font: 16px arial;line-height: 1.4;}

.sign-in-btn-close2 {display: none;}
.sign-in-panel.done .sign-in-btn-close2 {display: block;}
.sign-in-panel.done .sign-in-btn-get {display: none;}


/*
	FRONT PAGE
*/

.font-normal-size{font-size: 1.2vw;line-height: 1.6;}

.section-why{width: 80%;margin:6vw auto 0px auto;}
.section-why-reason{position: relative;width: 33.3%;float: left;}
.section-why-reason__image{width: 33%;float: left;}
.section-why-reason__text{width: 65%;float: right;padding:.7vw 10px 0 0;}
.section-why-reason:after{content: "";display: table;clear: both;}
.section-why:after{content: "";display: table;clear: both;}

.site-description{		
	padding: 55px 0 60px 0; font-size: 1.5rem; line-height: 1.4;
	font-family: "Roboto"; font-weight: 400;	
	text-align: center; position: relative;
}
.site-description img{display: none;}
.site-description:after{
	content: "";position: absolute;bottom: 0;
	width: 166px;left:50%;transform:translateX(-50%);
	border-top:2px solid black;
}

.site-textblock-2{
	font-size: 1.2rem; line-height: 1.6;
	font-family: "Roboto"; 
	font-weight: 400;		
	max-width: 850px; margin: 0 auto;
}
.hr-style-1{
	width: 173px; border: none;height: 0;
	border-top: 8px solid yellow;margin: 60px auto;
}
.site-textblock-2 a{text-decoration: none;position: relative;}
.site-textblock-2 a:after{
	content: "";position: absolute;bottom: 0;left:0;
	border-bottom: 2px solid black;width: 100%;
}
.site-textblock-2 a:hover:after{bottom:-2px;}

.section-what{width: 72%;margin:6vw auto 7vw auto;max-width: 1100px;text-align: center;}
.section-what h2{font-size: 2.2rem;margin: 0 0 .8em 0;font-weight: normal;}

.section-yellow{background: #fff040;position: relative;padding:0 0 8vw 0;}
.section-yellow-top__decor-02{position: absolute;display: none;}

.section-yellow-top{width: 86%;margin: 0 auto 1vw auto;}
.section-yellow-top:after{clear: both;content: "";display: table;}
.section-yellow-top__image{float:left;width: 43%;text-align: right;position: relative;}
.section-yellow-top__text{float:left;width: 57%;padding: 8.5vw 0 0 5.1vw;position: relative;}
.section-yellow-top__image > img{width: 85%; height: auto;margin:0 0 0 auto;}
.section-yellow-top__anim{position: absolute;width: 56.4%;height: 55.5%;top: 8vw;left: 10.75vw;}
.section-yellow-top__decor-01{position: absolute;display: none;}

.section-yellow-decor-1{position: absolute;top:0;right: 3.4%;width: 32%;height: auto;}
.section-yellow-decor-2{position: absolute;top:10vw;left: 0;width: 10%;height: auto;}
.section-yellow-decor-3{display: none;width: 100%;height: auto;}
.section-yellow-bottom{background: #fff040;position: relative;}
.section-yellow-bottom{width: 86%;margin: 0 auto;}
.section-yellow-bottom__text{float:left;width: 43%;padding:9vw 0 0 0;}
.section-yellow-bottom__image{float:right;width: 57%;position: relative;}
.section-yellow-bottom:after{clear: both;content: "";display: table;}
.section-yellow-bottom__image img{width: 100%; height: auto;}
.section-yellow-bottom__image-mobile {display: none;}
.section-yellow-bottom__anim{position: absolute;width: 28.2%;height: 63.5%;top: 6.2vw;left: 14.36vw;}

.section-yellow__anim-loader{position: absolute;width: 5vw;height: 5vw;top:50%;left: 50%;transform:translate(-50%, -50%) scale(1);opacity: 1; padding: .5vw;z-index: 1000;}
.section-yellow__anim-loader img{width: 100%;height: auto;animation:anim-loader 4s linear infinite;}
.section-yellow__anim-loader.hidden{transform: translate(-50%,-50%) scale(2);opacity: 0;transition:1s;}
@keyframes anim-loader{100%{transform:rotateZ(360deg);}}

.section-yellow-top__text h2,
.section-yellow-bottom__text h2{margin:0 0 1vw 0; }

.section-yellow-top__text h2 span,
.section-yellow-bottom__text h2 span {
	display: inline-block;background: black;color:#FFF040;padding:0 .8vw;
	border-radius: 100px;font-weight: normal;margin-bottom:.5vw;
	font-size: 2.6vw;letter-spacing: .2vw;
}

.section-all-devices{position: relative;padding:6.2vw 0;}
.section-all-devices__content{width: 86%;margin:0 auto;}
.section-all-devices__content:after{content: "";display: table;clear: both;}
.section-all-devices__image{float: left;width: 43%;}
.section-all-devices__text{float: left;width: 57%;padding:1.5vw 16vw 0 4vw ;}
.section-all-devices__image img{width: 100%;height: auto;border-radius: 1.5vw;}
.section-all-devices__decor{position: absolute;top:6vw;left:-8%;width: 26%;height: auto;transform:translateY(-100%);}
.section-all-devices__decor-2{position: absolute;top:-3vw;right: 6%; width: 18%;height: auto;}
.section-all-devices__decor-3{position: absolute;bottom:0;right: 0; width: 18%;height: auto;}
.section-all-devices__decor-4{position: absolute;right: 0;display: none;}
.section-all-devices__text p{
	padding: 0 0 0 3vw;
	background: url('../../site/i/site2-exp-07.svg') no-repeat left top; 
	background-size: 1.7vw;
}

.section-all-devices__text p:not(:last-child){margin-bottom:1.5vw; }

.section-other-features{background:#f1f1f1;min-height: 100px;padding:7vw 0;}
.section-other-features__content{width: 86%;margin: 0 auto;}
.section-other-features__content:after{content: "";display: table;clear: both;}
.section-other-features__block{
	float: left;width:33.3%; position: relative;
}
.section-other-features__block:nth-child(1){padding: 0 4vw 0 0;}
.section-other-features__block:nth-child(2){padding: 0 2vw 0 2vw;}
.section-other-features__block:nth-child(3){padding: 0 0 0 4vw;}

.section-other-features__block h3{display: none;}
.section-other-features__block h2{margin:0 0 1vw 0; padding: 0 0 0 7.8vw;}
.section-other-features__block h2 span{
	display: inline-block;background: black;color:#ffffff;padding:0 .8vw;
	border-radius: 100px;font-weight: normal;margin-bottom:.2vw;
	font-size: 1.8vw;letter-spacing: .1vw;	
}
.section-other-features__block-image{
	width: 7vw;height: 7vw;border-radius: 50%;
	position: absolute;top:0;left:auto;
}
.section-other-features__block:nth-child(1) .section-other-features__block-image{
	background: black url('../../site/i/site2-exp-10.svg') no-repeat left center;
	background-size: auto 100%;
}
.section-other-features__block:nth-child(2) .section-other-features__block-image{
	background: black url('../../site/i/site2-exp-10.svg') no-repeat center center;
	background-size: auto 100%;
}
.section-other-features__block:nth-child(3) .section-other-features__block-image{
	background: black url('../../site/i/site2-exp-10.svg') no-repeat right center;
	background-size: auto 100%;
}


.use-subdomain{
	min-height: 100px;position: relative;padding:5.4vw 0;
	background: url('../../site/i/site2-exp-14.svg') no-repeat left bottom;
	background-size:19% auto;
}

.use-subdomain__decor-01-desktop{position: absolute;right: 0;top:0;width: 45%;height: auto;}
.use-subdomain__decor-01-phone{position: absolute;right: 0;top:0;width: 83%;height: auto;display: none;}

.use-subdomain__decor-02-desktop{width: 96%;height: auto;margin: 0 auto 0 1vw;}
.use-subdomain__decor-02-tablet{width: 86%;height: auto;margin: 0 auto;display: none;}
.use-subdomain__decor-02-phone{width: 86%;height: auto;margin: 0 auto;display: none;}

.use-subdomain:after{content: "";clear: both;display: table;}
.use-subdomain__text{float: left;width: 43%;padding:0 10% 0 7%;}
.use-subdomain__image{float: right;width: 57%;position: relative;}
.use-subdomain__text h2{
	font-size: 2vw;padding:1vw 0 2vw 9vw;
	/*text-transform: uppercase;*/
	background: url("../../site/i/site2-exp-13-8.png") no-repeat left top;
	background-size: 30% auto;
}
.use-subdomain__image-title{
	position: absolute;left:10vw;top:16vw;background: black;display: inline-block;border-radius: 100px;
	color: white;padding:1vw 2vw;
	font-size: 1.2vw;line-height: 1.3;
}
.use-subdomain__image-title span{color: #fff040;}

.section-qr-code{background: #fff040;position: relative;padding: 0 0 9vw 0;}
.section-qr-code__content{min-height: 100px;position: relative;width: 86%;margin: 0 auto;}
.section-qr-code__content:after{content: "";display: table;clear: both;}
.section-qr-code__text{position: absolute;bottom: 1vw; width: 43%;}
.section-qr-code__image{float: right;width: 57%;position: relative;text-align: right;}
.section-qr-code__image img{width: 88%;margin:0 0 0 auto;}

.section-qr-code__decor-01-desktop{position: absolute;bottom:0;left:0;width: 58%;height: auto;}
.section-qr-code__decor-01-phone{position: absolute;bottom:0;left:0;width: 83%;height: auto;display: none;}

.section-qr-code__text h2{margin:0 0 1vw 0; }
.section-qr-code__text h2 span{
	display: inline-block;background: black;color:#ffffff;padding:0 .8vw;
	border-radius: 100px;font-weight: normal;margin-bottom:.4vw;
	font-size: 2.3vw;letter-spacing: .1vw;	
}
.section-qr-code__text p{padding:0 5vw 0 0;}
.section-qr-code__text-more{text-align: right;}
.section-qr-code__text-more span{
	font-size:1.6vw;color:black; 
	background: white;
	border-radius: 100px;
	display: inline-block;
	padding:.7vw 1.7vw;
	margin-top:3vw;
}
.section-qr-code__text-more span:hover{
	background: black;color: white;
}


.section-samples{position: relative;padding:4vw 0;}
.section-samples__content{min-height: 100px; position: relative;width: 86%;margin: 0 auto;}
.section-samples__text{padding:0 0 4vw 0;}
.section-samples__text:after{content: "";display: table;clear: both;}
.section-samples__text h2{float: left;width: 23%;}
.section-samples__text-message {float: left;width: 45%;}
.section-samples__text-message p{margin: 0 0 1em 0;}

.section-samples__text h2 span{
	background: black;display: inline-block;color: white;
	padding: .5vw 3vw;border-radius: 100px;font-weight: normal;
	font-size: 1.7vw;margin: .3vw 0 0 0;
}

.section-samples__decor-01{position: absolute;right: 7%;top:-2vw;width: 3vw;height: auto;}

.section-samples__links{}
.section-samples__links ul{margin: 0 0 0 auto;padding: 0;list-style: none;width: 77%}
.section-samples__links li{
	margin: 0;padding: 0;
	display: inline-block;
	float: left;
	width: 30.6%;
	position: relative;
	cursor: pointer;
}
.section-samples__links li div{
	margin: 0 0 2vw 0;padding: 1vw;	
	background: #FFF040 url('../../site/i/site2-exp-18.svg') no-repeat 0.9vw .4vw;
	background-size: 18% auto;	
	border-radius: .8vw;
	position: relative;	
	transform-origin:bottom center;
	transition:.3s;
}

.section-samples__links li:nth-child(2),
.section-samples__links li:nth-child(3){margin-left:4%;}
.section-samples__links ul:after{content: "";display: table;clear: both;}
.section-samples__links li h2{text-align: right;font-size: 1.3vw;font-weight: bold;margin-bottom: 5.5vw;}
.section-samples__links li p{
	text-align: right;font-size: 2vw;font-weight: normal;
	padding:0 2vw 0 0;background: url('../../site/i/site2-exp-19.svg') no-repeat right center;
	background-size: auto 100%;
}
.section-samples__links li:after{
	content: "";position: absolute;bottom:0;left:15%;width: 70%;height: .9vw;
	background:black;border-radius: 50%;transition:.3s;
}

.section-samples__links li:hover div{transform:scale(1.03);}
.section-samples__links li:hover:after{transform:scale(.8,1);}

.section-bottom-divider{padding:4vw 0 5vw 0;}
.section-bottom-divider img{width: 100%;height: auto;}
.section-bottom-divider__tablet{display: none;}
.section-bottom-divider__phone{display: none;}


/* PAGE CONTENT */

.page-article {
	min-height: 19vw;
	width: 100%;margin:0 auto;
	max-width: 1100px;
	position: relative;
}

.page-article img {width: 100%;}




.page-article__sample-code{
	background: #FFFABC;padding: 0 4px;
	font-weight: bold;width: 100%;border: none;padding:.5vw;
	font-size: inherit;
}

.page-article__section{margin: 0 0 3.1em 0;}

.page-price-information p{ padding: 10px 0;}
.page-price-information .price-per-year{
	font-size: 22px;
	border:5px solid #FDF724;
	font-weight: 600;
	padding: 5px 30px;
	border-radius: 50px;
}
.page-price-information .try-free{
	font-size: 22px;
	background: #FDF724;	
	padding: 10px 30px;
	border-radius: 50px;
	margin: 0 10px;
}

.page-article__section video {
	/*border:1px solid #e5e5e5;*/
	/*padding:5px;*/
}

.page-article p {font-size: 1.3vw;line-height: 1.6;margin: 0 0 1.4vw 0;} 

.page-article h1{font-weight: normal;font-size: 2.1vw;line-height: 1.2;margin: 0 0 2.9vw 0;}

.page-article h2{
	font-weight: normal;
	font-size: 1.2em;
	padding: 1vw 1vw 1vw 4vw;
	border-radius: 0.5vw;
	margin: 0 0 1.8em 0 ;
	background: #FFF040 url('../../site/i/site2-exp-38.svg') no-repeat 1.3vw center; 
	background-size:auto 20%;
}
.page-article h3{
	font-size: 1.4em;
	line-height: 1.4;
	margin:1.2em 0 1.0em 0;}

.page-article a:not(.image-link),
.font-normal-size a{
	text-decoration: none;font-weight: bold;
	border:1px solid black;
	padding: 0 .5em .1em .5em;border-radius: 20px;	
	white-space: nowrap;
}
.page-article a:not(.image-link):hover,
.font-normal-size a:hover{
	background: #FFF040;
	border:1px solid #FFF040;
}

a.page-article__large-link{
	font-weight: normal; display: inline-block;background: #FFFABC;padding:.3vw 2vw; border-radius: 6px; 
	font-size: 1.8vw;text-decoration: none;margin: 1vw 0;
}
a.page-article__large-link:hover{background: #FFF040;}
a.page-article__bright-link{
	font-weight: normal; display: inline-block;background: #FFF040;padding:.3vw 2vw; border-radius: 6px; 
	text-decoration: none;margin: .5vw 0;

}
a.page-article__bright-link:hover{}

.page-article i{font-weight: bold;}
.page-article i.highlighted{
	background: #FFFABC;padding: 0 10px;
	display: inline-block;border-radius: 30px;
	font-weight: normal;
}
.page-article .large-list{
	font-size: 1.3rem;
}

.page-main-content{min-height: 200px;border-top: 1px solid black;position: relative;padding: 0 7% 3vw 7%;margin: 0 0 3vw 0;}
.page-main-content:after{content: "";position: absolute;left:0;bottom:0;width: 100%;border-bottom:1px solid black;}

.page-breadcrumbs{margin: 1.4vw 0 3.3vw 0;font-size: 1.2vw;}
.page-breadcrumbs span{font-weight: bold;}
.page-breadcrumbs a{text-decoration: none;}
.page-breadcrumbs a:hover{text-decoration: underline;}


.page-article__price{margin: 3vw 0 0 0;}
.page-article__price-section{margin-bottom: 2vw;}
.page-article__price-section:last-child{margin-bottom: 0;}
.page-article__price-section:after{clear: both;display: table;content: "";}
.page-article__price-section-part{float: left;width: 48%;}
.page-article__price-section-part:nth-child(2){margin-left: 4%;}
.page-article__price-section-part-image{width: 26%;float: left;padding: 0 4% 0 0;}

.page-article__price-section-part-text{width: 74%;float: left;}
.page-article__price-section-part:after{clear: both;display: table;content: "";}
.page-article__price-section-part img{width: 100%;height: auto;}
.page-article__price-section-part span{display: none;}
.page-article__price-section-part-image-desktop{border-radius:10px;}
.page-article__price-section-part-image-mobile{display: none;}

.page-article__price-section-part-text{line-height: 1.6;font-size: 1.1em;}


/*
    ____            __
   / __/___  ____  / /____  _____
  / /_/ __ \/ __ \/ __/ _ \/ ___/
 / __/ /_/ / /_/ / /_/  __/ /
/_/  \____/\____/\__/\___/_/

*/

.site-new-footer{min-height: 100px;position: relative;}

.site-new-footer__top{width: 86%;margin: 0 auto 1vw auto;}
.site-new-footer__top:after{content: "";clear: both;display: table;}
.site-new-footer__main-menu{float: left; width: 40%;}
.site-new-footer__invite{float: right; width: 60%;text-align: right;}

.site-new-footer__invite-button{
	width: 70%;margin: 0 0 0 auto;	
	background: #FFF040;color:black;	
	font-size: 1.4vw;border-radius: .8vw;
	text-align: left;padding:2vw 2vw 2vw 10vw;
	position: relative;cursor: pointer;
}
.site-new-footer__invite-button_image{
	position: absolute;top:50%;width: 5.5vw;height: 5.5vw;
	background: white url('../../site/i/site2-exp-21.svg') no-repeat left center;
	background-size: auto 100%;left:2vw;transform:translateY(-50%);border-radius: 50%;
	transition:.3s .1s ;
}
.site-new-footer__invite-button_arrow{
	position: absolute;top:50%;width: 5.5vw;height: 5.5vw;
	background: url('../../site/i/site2-exp-21.svg') no-repeat right center;
	background-size: auto 100%;right:.5vw;transform:translateY(-50%);
	transition:.3s;
}
.site-new-footer__invite-button:hover .site-new-footer__invite-button_image{transform:translateY(-50%) scale(1.08);}
.site-new-footer__invite-button:hover .site-new-footer__invite-button_arrow{transform:translateY(-50%) translateX(4%);}

.site-new-footer__invite-button_title{font-size: 2vw;line-height: 1.15;}

.site-new-footer__main-menu {margin: 0 0 3vw 0;}
.site-new-footer__main-menu ul{margin: 0;padding: 0 0 0 4vw;list-style: none;	position: relative;}
.site-new-footer__main-menu ul:before{content: "";position: absolute;left:0;top:0;width: 1vw;height: 100%;background: #FFF040;border-radius: 100px;}
.site-new-footer__main-menu li{margin: 0;padding: 0;font-size: 1.6vw;line-height: 2;}
.site-new-footer__main-menu a {text-decoration: none;}

.site-new-footer__bottom{min-height: 100px;background: black;color:white;}


.site-new-footer__bottom-one{padding:3vw 7%;}
.site-new-footer__bottom-two{padding:0 0 3vw 0;}

.site-new-footer__bottom-one{}
.site-new-footer__bottom-one:after{content: "";display: table;clear: both;}
.site-new-footer__bottom-one div{}
.site-new-footer__bottom-one_social{float: left;width: 24%;}
.site-new-footer__bottom-one_description{float: left;width: 56%;color: #cacaca;font-size: 1.2vw; line-height: 1.6;}
.site-new-footer__bottom-one_button{float: right;width: 20%;text-align: right;}


.site-new-footer__bottom-one_social div{
	float: left; width: 3.3vw;height: 3.3vw;
	margin: 0 1.2vw 0 0;border-radius: 50%;
}
.site-new-footer__bottom-one_social:after{content: "";clear:both;display: table;}
.site-new-footer__bottom-one_button div{
	width: 4vw;height: 4vw;border-radius: 10px;margin: 0 0 0 auto;cursor: pointer;
	background: gray url('../../site/i/site2-exp-22.svg') no-repeat center;
	background-size: 100%; 
}

.site-new-footer__bottom-one_support-tg{
	background: #FFF040 url('../../site/i/site2-icon-tg.svg') no-repeat right center;background-size: auto 100%;
}



.site-new-footer__bottom-two__content{width: 86%; margin: 0 auto;position: relative;}
.site-new-footer__bottom-two__content:after{content: "";display: table;clear: both;}
.site-new-footer__bottom-two__copy{float: left;width: 24%;}
.site-new-footer__bottom-two__menu{position: absolute;bottom:0;left:24%;}


.site-new-footer__bottom-two__menu ul{margin: 0;padding: 0;list-style: none;}
.site-new-footer__bottom-two__menu ul:after{content: "";display: table;clear: both;}
.site-new-footer__bottom-two__menu li{margin: 0 1em 0 0;padding: 0;float: left;font-size: 1.3vw;}
.site-new-footer__bottom-two__menu a:link,
.site-new-footer__bottom-two__menu a:visited{color: #808080;transition:.3s;}
.site-new-footer__bottom-two__menu a:hover{color: #eeeeee;}

.site-new-footer__bottom-two__copy p{color: #FFF040;font-size: 1.3vw;line-height: 1.4;}
.site-new-footer__bottom-two__copy a{color: white;text-decoration: none;}

.site-new-footer__border{background: #6e6e6e;height: 2.5vw;}


@media screen and (max-width: 1360px){
	
	.font-normal-size{font-size: 1.4vw;}

	.use-subdomain__image-title{font-size: 1.4vw;}
	.section-all-devices__text p{background-position: 0 .15vw;}
	.site-new-footer__bottom-one_description{font-size: 1.4vw;}

	.page-article p {font-size: 1.1em;} 

}

@media screen and (max-width: 1000px){

	.site-description{font-size: 2.3vw;}

	.page-article__price{padding:2vw 0 0 0 ;}
	.page-article__price-section-part-image-desktop{display: none;}
	.page-article__price-section-part-image-mobile{display: block;}
	.page-article__price-section-part-image{width: 100%;padding: 0 0 1.1vw 0;}
	.page-article__price-section-part-text{width: 100%;}
}

@media screen and (max-width: 800px){	

	.site-logo{width: 14.5%;margin: 2vw 0 1.3vw 6%;}
	.site-top-slogan{font-size: 3.2vw;right: 14%;}
	.mobile-btn-burger{right: 5%;width: 5.2vw; height: 5.2vw;}

	.site-slider__small{display: block;}
	.site-slider__large{display: none;}	

	.site-slider__dots{position: absolute;bottom:5px;right: 10px;height:5px; width: 100px;}	
	.site-slider__dots div{background: #595959; transition:1s;}
	.site-slider__dots div.current{background:white;}

	.site-description{
		font-size: 1.3rem;
		padding: 8vw 10%;
		line-height: 1.6;
	}
	
	.site-description br{display: none;}

	.site-textblock-2 {font-size: 1.3rem;}

	.beta-string{font-size: .6rem;}

	.mobile-menu ul{margin:  0 7%;}
	.mobile-menu ul li{float: none;margin: 0;border-bottom:1px solid #bcbcbc; }
	.mobile-menu ul li:last-child{border:none;}
	.mobile-menu a{font-size: 2.8vw;display: inline-block;padding:3vw 0;width: 100%;}
	.mobile-menu a:hover,.mobile-menu a:active{text-decoration: none;background: #f1f1f1;}

	#video-intro .video-intro-loader,
	.video-intro-btn-play{width: 35px;height: 35px;left:10px;bottom:10px;}

	.site-section-create-picture{width: 100%;float: none;}
	.site-section-create-invite{width: 100%; height: auto; position: relative;right: 0;top:0;}
	.site-slogan{font-size: 6.8vw;}
	.site-slogan span{display: inline;}
	.site-no-reg {font-size: 2.6vw;}

	.get-invite-loader{ width: 17vw;height: 17vw; }
	
	.btn-create,
	.site-section-create-forms-button{font-size: 4.3vw; padding: 3.9vw 4.9vw;right: 5%;}
	
	.site-section-create-forms {right:-100%;width: 100%;height: 80%; padding: 4vw 5% 0 5%;}
	.site-section-create-forms-title{font-size: 3.6vw;margin: 1vw 0 3vw 0;}	
	.site-section-create-forms-inputs input{font: 3.9vw arial;padding:1.6vw 2vw 1.6vw 2vw; }	
	.site-section-create-forms-inputs{margin: 0 0 2vw 0;width: 100%;height: 28vw;}
	.site-section-create-forms-answer{width: 62%;}

	.userinput-err-message,
	.userinput-ok-message{font-size: 2.4vw;}
	
	.site-section-create-succeed{width: 100%;right: -100%;height: 80%;padding: 5vw 5% 8vw 5%;}
	.site-section-create-succeed-message {width: 100%;height: 100%; margin: 0;}
	.site-section-create-succeed-message:after{border-bottom: 3vw solid white;bottom:-5vw;}
	.site-section-create-succeed-message h1{font:3.6vw arial; margin: 1vw 0 3vw 0;}
	.site-section-create-succeed-message p{font: 2.9vw arial;line-height: 1.4;width: 100%;}
	.site-section-create-succeed-message .img-01 {display: none;}
	
	.site-section-create-succeed-close, 
	.site-section-create-forms-close {right: 5vw;}

	.site-section-create-forms{border-top: 5px solid #ffffff;border-left:none;}
	.site-section-create-succeed{border-top: 5px solid #ffffff;border-left:none;}
	.site-section-create-invite{border-top: 5px solid #ffffff;border-left:none;}

	.font-normal-size{font-size: 2.6vw;line-height: 1.3;}
	
	.section-why{width: 86%;margin: 7.5vw auto 7.5vw auto;}


	.section-why-reason:nth-child(1){padding:0 2vw 0 0;}
	.section-why-reason:nth-child(2){padding:0 1vw 0 1vw;}
	.section-why-reason:nth-child(3){padding:0 0 0 2vw;}
	.section-why-reason__image{float: none;width: 78%;}
	.section-why-reason__text{float: none;width: 100%;margin: 1vw 0 0 0;padding: 0;}

	.section-yellow{padding: 3vw 0 20vw 0;}	
	.section-yellow-top{margin: 0 auto 3vw auto;}
	.section-yellow-top__image{float: none;width: 100%;}
	.section-yellow-top__text{float: none;width:100%;padding: 3vw 0 0 0;}
	.section-yellow-decor-1{display: none;}
	.section-yellow-top__image img{width: 73%;}
	.section-yellow-decor-2{width: 18.5%;top:8vw;}
	.section-yellow-top__decor-01{display: block;width: 13vw;top: 2vw;left: 12%;}
	
	.section-yellow-top__text h2 span, .section-yellow-bottom__text h2 span{font-size: 4.4vw;}
	.section-yellow-top__text h2{margin: 0;width: 43%;float: left;}
	.section-yellow-top__text p{margin: 0;width: 57%;float: left;}
	.section-yellow-top__text p br{display: none;}
	.section-yellow-top__text:after{content: "";display: table;clear: both;}

	.section-yellow-bottom__image{float: none;width: 100%;}
	.section-yellow-bottom__text{float: none;width: 100%;padding: 3vw 0 0 0;}
	.section-yellow-bottom__text:after{content: "";clear: both;display: table;}
	.section-yellow-bottom__text h2{margin: 0;width: 43%;float: left;}
	.section-yellow-bottom__text p{margin: 0;width: 57%;float: left;}
	.section-yellow-bottom__text p br{display: none;}
	
	.section-yellow-top__anim {width: 48.4%;height: 55.3%;top: 16.2vw;left: 33.65vw;}
	.section-yellow-bottom__anim {width: 28.0%;height: 63.5%;top: 10.9vw;left: 25.33vw;}
	.section-yellow__anim-loader {width: 10vw;height: 10vw;}

	.section-all-devices{padding: 6.2vw 0 8.2vw 0;}
	.section-all-devices__decor-2{width: 28%;top:-13vw;}
	.section-all-devices__decor{top:10vw;width: 45%;}	
	.section-all-devices__image{width: 100%;float: none;}
	.section-all-devices__text{width: 80%;float: none;padding: 6vw 0 0 0;}
	.section-all-devices__image img{width: 80%;}
	.section-all-devices__text p{padding: 0 0 0 7vw;background-size:3.2vw;background-position:0 0.5vw;}
	.section-all-devices__decor-3{display: none;}
	.section-all-devices__decor-4{display: block;bottom:0;width: 15vw;height: auto;}
	.section-all-devices__text p:nth-child(1){margin-bottom:2.5vw;}

	.section-other-features{padding: 7vw 0 8vw 0;}
	.section-other-features__block{float: none;width: 100%;margin: 0 0 5vw 0;}
	.section-other-features__block h2{display: none;}
	.section-other-features__block h3{display: block;}
	.section-other-features__block h3{margin: 0 0 3vw 0;padding: 1.5vw 0 0 16.8vw;}
	.section-other-features__block h3 span{
		display: inline-block;background: black;color:#ffffff;padding:0 .8vw;
		border-radius: 100px;font-weight: normal;margin-bottom:.5vw;
		font-size: 3.8vw;letter-spacing: .1vw;	
	}
	.section-other-features__block-image{width: 12vw;height: 12vw;}
	.section-other-features__block:last-child{margin: 0;}	
	
	.use-subdomain{padding: 7.4vw 0 6.4vw 0;}
	.use-subdomain__decor-01-desktop{width: 67%;}	
	.use-subdomain__decor-02-desktop{display: none;}
	.use-subdomain__decor-02-tablet{display: block;}
	.use-subdomain__text{float: none;width: 100%;margin: 0 0 3vw 0;}
	.use-subdomain__image{float: none;width: 100%;}
	.use-subdomain__text h2{font-size: 3.8vw; padding: 2vw 0 2vw 19vw; background-size: auto 98% ; margin: 0 0 2vw 0; }
	.use-subdomain{background: none;}
	.use-subdomain__image-title{font-size: 2.4vw;top:22vw;padding: 1.6vw 4vw;}
	
	.section-qr-code{padding: 0 0 11vw 0;}
	.section-qr-code__image{width: 100%;float: none;}
	.section-qr-code__text{width: 100%;position: relative;bottom: auto;padding: 5vw 0 0 0;}	
	.section-qr-code__text h2{margin: 0 0 2vw 0;}
	.section-qr-code__text h2 span{padding: 0 .8vw;margin-bottom: 0.4vw;font-size: 5.1vw;}
	.section-qr-code__decor-01-desktop{width: 80%;}
	.section-qr-code__text-more span{ font-size: 2.6vw;font-weight: bold;  padding: 1.7vw 4.7vw;  margin-top: 3vw;}
	
	.section-samples{padding: 6vw 0;}
	.section-samples__text{padding: 0 0 10vw 0;}
	.section-samples__text h2{width: 100%;float: none;margin: 0 0 4vw 0;}
	.section-samples__text h2 span{font-size: 3.7vw;}
	.section-samples__text-message{width: 100%;float: none;}
	.section-samples__decor-01{ right: auto; left: 6.5vw; top: 50.5vw; width: 6vw;}
	.section-samples__links ul{width: 80%;}	

	.section-samples__links li div{
		background-size: auto 74%;
		background-position: 1.7vw 1.4vw;
	}

	.section-samples__links li:nth-child(1), 
	.section-samples__links li:nth-child(2), 
	.section-samples__links li:nth-child(3){
		margin: 0 0 2.2vw 0;
	}
	.section-samples__links li{
		float: none;width: 100%;		
		background-size: auto 56%;
		background-position: 2vw 1vw;
		border-radius: 2vw;
	}
	.section-samples__links li h2{font-size: 2.6vw; padding: 0 .5vw 0 0;}
	.section-samples__links li:after{display: none;}
	.section-samples__links li p{font-size: 4vw;padding: 0 6vw 0 0;}

	.section-bottom-divider__tablet{display: block;}
	.section-bottom-divider__desktop{display: none;}
	
	.section-what{width: 87%;}

	.site-new-footer__main-menu{float: none;width: 80%;margin: 0 0 6vw 0;}
	.site-new-footer__main-menu ul{padding: 0;margin: 0;}
	.site-new-footer__main-menu ul:before{display: none;}
	.site-new-footer__main-menu ul:after{content: "";display: table;clear: both;}
	.site-new-footer__main-menu li{float: left;border:1px solid black;border-radius: 2vw;margin: 0 2vw 2vw 0;}
	.site-new-footer__main-menu li a{display: inline-block;padding: 1vw 4vw;font-size: 2.5vw;}
	.site-new-footer__main-menu li a:active{background: #FFF040;border-radius: 2vw;}

	.site-new-footer__top{margin: 0 auto 9vw auto;}

	.site-new-footer__invite{width: 80%;}
	.site-new-footer__invite-button{border-radius: 1.8vw;}
	.site-new-footer__invite-button_title{  font-size: 2.7vw;font-weight: bold; }
	.site-new-footer__invite-button{width: 100%;padding: 4vw 2vw 4vw 18vw;}
	.site-new-footer__invite-button_image{width: 9.5vw;height: 9.5vw;left: 3vw;}
	.site-new-footer__invite-button_arrow{width: 8.5vw;height: 8.5vw;}
	
	.site-new-footer__bottom-one{padding: 3vw 7% 6vw 7%;}
	.site-new-footer__bottom-one_description {width: 100%;font-size: 2.1vw;line-height: 1.5;}
	.site-new-footer__bottom-one_social div{width: 6.3vw;height: 6.3vw;}
	.site-new-footer__bottom-one_social{margin: 0 0 7vw 0;}
	.site-new-footer__bottom-one_button div{width: 8vw;height: 8vw;border-radius:1.2vw;}
	.site-new-footer__bottom-two{padding: 0 0 4vw 0;}
	.site-new-footer__border{height: 8.5vw;}		
	.site-new-footer__bottom-two__menu{width: 100%;left: 0;position: relative;padding: 0 0 4vw 0;}	
	.site-new-footer__bottom-two__copy{width: 100%;text-align: right;}
	.site-new-footer__bottom-two__copy p{font-size: 2.6vw;display: inline;position: relative;}
	.site-new-footer__bottom-two__copy p:last-child{margin: 0 0 0 6vw;}	
	.site-new-footer__bottom-two__copy p:last-child:after{
		content: "";position: absolute;width: 1px;
		left: -3.2vw;height: 5vw;border-left: 2px solid gray;
		top:-1.2vw;
	}
	.site-new-footer__bottom-two__menu li{font-size: 2.6vw;margin: 0 5vw 2.1vw 0;}
	.site-new-footer__bottom-two__menu:after {
		content:"";position: absolute;top:-3.2vw;left:0; width: 100%;border-top:2px solid gray; 
	}

	/* PAGES INSIDE */

	.page-breadcrumbs{ font-size: 2.1vw; margin: 2.5vw 0 4.6vw 0; }

	.page-article h1{font-size: 4.1vw;margin: 0 0 4.9vw 0;}
	.page-article h2{font-size: 1.3em;padding: 1.2vw 1.2vw 1.2vw 4vw;}
	.page-article h3{}
	.page-article h3{margin: 1em 0 .5em 0;}
	.page-article p {font-size: 1.2em;}
	.page-article__price-section-part-text{font-size: 1.2em;}
	.page-article__section{margin: 0 0 2.8em 0;}

	.page-main-content{margin: 0 0 5vw 0;}
	a.page-article__large-link{font-size: 2.8vw;}


}


@media screen and (max-width: 550px){	

	.site-header{padding: 3vw 5% 4vw 5%;margin: 0;}
	.mobile-btn-burger{top:10vw;width: 11.5vw;height: 11.5vw;}

	.site-description{font-size: 1rem; padding: 10vw 5% 12vw 14%;text-align: left;}
	.site-description:after{width: 56px;}	
	.site-description img{display: block;position: absolute;top:10vw;left:5%;width: 3vw;}

	.site-textblock-2{font-size:1rem;}

	.mobile-menu a{font-size: 5.3vw;padding: 5vw 0;}
	.mobile-btn-signin{display: block;}

	.site-top-slogan{position: relative;font-size: 5.3vw; right: auto;left: 0;top:auto; transform:translateY(0);}
	.site-top-slogan:after{content: "";position: absolute;width: 100%;height: 1px;border-top: 1px solid black;left:0;top:-4vw;}

	.site-logo{margin:  0 0 8vw 0;width: 30%;}
	.site-slogan {font-size: 10.8vw;margin:0 0 4vw 0;}
	.site-no-reg{font-size: 5.3vw;}

	.site-section-create-invite{height: 72vw;}
	.site-section-create-forms-inputs input{font-size: 5.3vw;padding: 2.6vw 3vw 2.6vw 3vw;}
	.site-section-create-forms-inputs{height: 30vw;}

	.btn-create, .site-section-create-forms-button{ font-size: 6.8vw;padding: 5.9vw 9.9vw;border-radius: 3vw; bottom: 6vw;}	
	.site-section-create-forms-title{font-size: 5.3vw;}

	.get-invite-loader{ width: 18vw;height: 18vw; bottom:7vw; right:5%; }

	.userinput-err-message, .userinput-ok-message{font-size: 4.1vw;	line-height:1.4;}
	.site-section-create-forms-answer{width: 100%;}

	.page-article .page-price-information p{margin: 0 0 1vw 0;}
	.page-price-information {text-align: center;}
	.page-price-information .price-description,
	.page-price-information .try-free-description{display: block;margin: 0 0 12px 0;}

	.site-section-create-succeed-message h1{font-size: 7.6vw;}
	.site-section-create-succeed-message p{font-size: 4.6vw;}
	.site-section-create-succeed{padding: 5vw 5% 11vw 5%;}

	.font-normal-size{font-size: 5.3vw;}
	

	.section-why{margin: 11vw auto 0px auto;}

	.section-why-reason{float: none;width: 100%;}
	.section-why-reason__image{float: left;width: 27%;}
	.section-why-reason__text {float: left;width: 68%;margin: 0 0 0 5%;}	

	.section-why-reason:nth-child(1){padding:0;margin: 0 0 5vw 0;}
	.section-why-reason:nth-child(2){padding:0;margin: 0 0 5vw 0;}
	.section-why-reason:nth-child(3){padding:0;}

	.section-what{width: 100%;padding: 0 3%;margin: 11vw auto 11vw auto;}	
	.section-what p{ 
		text-align: left; 
		padding: 0 6%; line-height: 1.6;
	} 
	.section-what h2{
		text-align: left; 
		line-height: 1.3;
		font-size: 6.5vw;
		margin: 0 0 20px 5%;
		width: 90%;
		padding:0 0 0 29px; 
		position: relative;
	}
	.section-what h2:after{
		content: "";position: absolute;left:0;top:0;height: 100%;width: 8px;
		background: #fff040;
	}
	.section-what h2 br {display: none;}
	.site-textblock-2{text-align: left;padding: 0 0 0 5%;margin: 0 0 0 0;width: 90%;}
	.section-what hr {visibility: hidden;margin: 12px 0;}

	.section-yellow{padding: 0;}
	.section-yellow-decor-2{display: none;}
	.section-yellow-top{width: 100%;}
	.section-yellow-top__image{width: 100%;padding: 0 5% 5vw 5%;}
	.section-yellow-top__image img{width: 100%;}	
	.section-yellow-top__decor-01{left:auto;right: 9%; top:90vw;width: 11vw;}	
	.section-yellow-top__decor-02{display: block;right: 0;bottom:0;width: 25%;}
	.section-yellow-top__text{padding: 0 5% 5vw 5%;}
	.section-yellow-top__text h2{float: none;width: 100%;margin: 0 0 3vw 0;}
	.section-yellow-top__text p{float: none;width: 75%;}
	.section-yellow-top__text h2 span, .section-yellow-bottom__text h2 span{font-size: 8.4vw;margin-bottom: 1vw;padding: 0 3vw;}

	.section-yellow-bottom{width: 100%;}
	.section-yellow-bottom__image-desktop{display: none;}
	.section-yellow-bottom__image-mobile{display: block;padding: 0 5% 5vw 0;}
	.section-yellow-bottom__text{padding: 0 5% 10vw 5%;}
	.section-yellow-bottom__text h2{float: none;width: 100%;margin: 0 0 3vw 0;}
	.section-yellow-bottom__text p{float: none;width: 100%;}

	.section-yellow-decor-3{display: block;}

	.section-yellow-top__anim {width: 59.2%;height: 55.3%;top: 21.7vw;left: 20.2vw;}
	.section-yellow-bottom__anim { width: 39.7%;height: 63.5%;top: 18.4vw;left: 42.9vw;}
	.section-yellow__anim-loader{width: 15vw;height: 15vw;}

	.section-all-devices__content{width: 100%;}	
	.section-all-devices__image img{width: 100%;border-radius:0;font-size: 0;}
	.section-all-devices{padding: 0;}	
	.section-all-devices__decor{display: none;}
	.section-all-devices__decor-2{display: none;}
	.section-all-devices__decor-4{display: none;}
	.section-all-devices__text{padding: 5vw 5%;width: 100%;margin: 0 auto;}
	.section-other-features{padding: 10vw 0;}
	.section-other-features__block{margin:  0 0 8vw 0;}
	.section-other-features__block h3{display: none;}
	.section-other-features__block h2{display: block;}
	.section-other-features__block h2 span{font-size: 5.8vw;margin-bottom: .8vw;padding: .8vw 2.8vw;}	
	.section-other-features__block h2{padding: 0 0 0 32vw;margin: 0 0 4vw 0;}
	.section-other-features__block-image{width: 28vw;height: 28vw;}	
	.section-other-features__content{width: 90%;}
	.section-other-features__block:nth-child(1){padding: 0;}
	.section-other-features__block:nth-child(2){padding: 0;}
	.section-other-features__block:nth-child(3){padding: 0;}

	.use-subdomain__text{padding: 0 5% 0 5%;}
	.use-subdomain__text h2{ font-size: 5.8vw; padding: 4vw 0 4vw 30vw; background-size: auto 100%; margin: 0 0 5vw 0; }
	.use-subdomain__decor-01-desktop{display: none;}
	.use-subdomain__decor-01-phone{display: block;}
	.use-subdomain__decor-02-tablet{display: none;}
	.use-subdomain__decor-02-phone{display: block;width: 92%;}
	.use-subdomain__image-title{ font-size: 4.4vw; top: 32vw;padding: 2.6vw 7vw; }
	.use-subdomain { padding: 11.4vw 0 7.4vw 0; }

	.section-qr-code__content{width: 90%;}
	.section-qr-code__image img{width: 100%;}
	.section-qr-code__text{padding: 8vw 0 0 0;}
	.section-qr-code__text h2 span{ padding: .5vw 3vw;  margin-bottom: 1.4vw; font-size: 6.1vw; }
	.section-qr-code__text-more span{font-size: 4.6vw; font-weight: bold; padding: 2.9vw 5.7vw; margin-top: 3vw; }

	.section-qr-code__decor-01-desktop{display: none;}
	.section-qr-code__decor-01-phone{display: block;}
	.section-qr-code{padding: 0 0 18vw 0 ;}	

	.section-samples__content{width: 90%;}
	.section-samples__text{padding: 0 0 7vw 0;}
	.section-samples__text h2 span{font-size: 6.7vw;padding: 2vw 13vw;}
	.section-samples__text h2{margin: 0 0 50vw 0;}
	.section-samples__decor-01{display: none;}
	.section-samples {
		background: url("../../site/i/site2-exp-35-8.png") no-repeat top center;
		background-size: 100% auto;
	}

	.section-samples__links ul{width: 82%;}

	.section-samples__links li p{font-size: 7.5vw;padding: 0 11vw 0 0;}	
	.section-samples__links li h2{font-size: 6.5vw;margin-bottom: 7.5vw;}

	.section-samples__links li:nth-child(1), 
	.section-samples__links li:nth-child(2), 
	.section-samples__links li:nth-child(3) {
    	margin: 0 0 4.2vw 0;
	}	

	.section-samples__links li div{
		padding:4vw;
		border-radius: 4vw;				
		background-size: auto 40%; 
		background-position: 5vw 1vw; 		
	}

	.section-bottom-divider__tablet{display: none;}
	.section-bottom-divider__phone{display: block;}

	
	.site-new-footer__top{width: 90%;margin: 0 auto 11vw auto;}
	.site-new-footer__main-menu{margin: 0 0 10vw 0;width: 100%;}
	.site-new-footer__main-menu li a{font-size: 6.2vw;}
	.site-new-footer__invite-button_title{font-size: 5.7vw;}
	.site-new-footer__invite{width: 100%;}
	.site-new-footer__invite-button_image{width: 19vw;height: 19vw;}
	.site-new-footer__invite-button{padding: 8vw 2vw 8vw 27vw;border-radius:3.8vw;}
	.site-new-footer__invite-button_arrow{width: 13.5vw;height: 13.5vw;right: 1.5vw;}

	.site-new-footer__bottom-one{padding: 5vw 5% 11vw 5%;}
	.site-new-footer__bottom-one_social{margin: 0 0 12vw 0;}
	.site-new-footer__bottom-one_social div{width: 11vw;height: 11vw;margin: 0 4.2vw 0 0;}
	.site-new-footer__bottom-one_button div{width: 18vw;height: 18vw;border-radius: 3.1vw;}
	.site-new-footer__bottom-one_social{width: 50%;}
	.site-new-footer__bottom-one_button{width: 40%;}
	.site-new-footer__bottom-one_description{font-size: 4.5vw;}
	
	.site-new-footer__bottom-two__content{width: 90%;}
	.site-new-footer__bottom-two{padding: 0 0 7vw 0;}
	.site-new-footer__bottom-two__menu{padding: 0 0 5vw 0;}
	.site-new-footer__bottom-two__menu li{font-size: 5.6vw;margin: 0 5vw 4.1vw 0; }
	.site-new-footer__bottom-two__menu:after{top:-6.2vw;}	
	.site-new-footer__bottom-two__copy p{font-size: 4.6vw;display: block; line-height: 1.6;}
	.site-new-footer__bottom-two__copy{
		text-align: left;padding: 3vw 0 3vw 18vw;
		background: url('../../site/i/site2-exp-37.svg') no-repeat left center;
		background-size:auto 90%;
	}	
	.site-new-footer__bottom-two__copy p:last-child:after{display: none;}	
	.site-new-footer__bottom-two__copy p:last-child{margin: 0;}
	.site-new-footer__border{height: 14.5vw;}

	/* INSIDE PAGES*/
	.page-main-content{width: 90%;margin:0 auto 10vw auto;padding: 0 0 5vw 0;}
	.page-breadcrumbs{font-size: 4.5vw;margin: 4.5vw 0 6.6vw 0;}

	.page-article p{ font-size: 4.9vw; margin: 0 0 3vw 0;}
	.page-article__price-section-part-text{font-size: 4.9vw;}
	.page-article__price-section{margin: 0;}	
	.page-article__section{margin: 0 0 1em 0;}


	.page-article h1{font-size: 6.5vw;margin: 0 0 5.5vw 0;}
	
	.page-article h2{
		font-size: 5.2vw; 
		padding: 2.2vw 1vw 2.2vw 10vw; 
		margin: 0 0 4.8vw 0;
		line-height: 1.1; 
		background-size:auto 3vw;
		background-position: 2.3vw 4vw; 		
		border-radius: 1.5vw;
	}
	.page-article h3{
		font-size: 5.4vw;
		margin: 0;
	}
	
	
	a.page-article__large-link{font-size: 4.9vw;padding: 2.3vw 4vw;}
	a.page-article__bright-link{margin: 0 0 2.5vw 0;padding: 1.3vw 4vw;}

	.page-article__price-section-part-image{width: 12%;padding:0; text-align: center;}
	.page-article__price-section-part-text{width: 85%;margin: 0 0 0 3%;}
	.page-article__price-section{margin: 0;}
	.page-article__price-section-part{margin: 0 0 5vw 0;}
	.page-article__price-section-part{width: 100%;}
	.page-article__price-section-part:nth-child(2){margin-left: 0;}
	.page-article__price-section-part-image-mobile{display: none;}
	.page-article__price-section-part span{display: block;background: #FFF040;border-radius: 4px;padding: 1vw 0;}

}



