
RewriteEngine On
Options -Indexes
DirectoryIndex index.php

RewriteBase /

ErrorDocument 404 /404
ErrorDocument 403 /404

# RewriteRule ^loader.js$  loader.php   [R=301,L]

RewriteCond %{ENV:VIRTUAL_HOST} "chefsmenu.ru"
RewriteRule ^loader.js$  https://%{HTTP_HOST}/loader.php   [R=301,L]

RewriteCond %{ENV:VIRTUAL_HOST} "localhost:8080"
RewriteRule ^loader.js$  http://%{HTTP_HOST}/loader.php   [R=301,L]

<files *.json>
SetOutputFilter DEFLATE
</files>

# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
# - all url go to index.php
# - rewrite only if no exist such image or folder or file or favicon 
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #

RewriteCond %{REQUEST_URI} !(\.png|\.jpg|\.svg\.ico\.gif)$ [NC]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !favicon.ico
RewriteRule ^(.*)$ / [L,QSA]

