
body,html{
	width:100%;height:100%;min-height: 100%;
	position:fixed;background:#D9D9D9;
	color: #000000;overflow:hidden;	
}	
body{
	background-size:100% 100%; padding: 0px;margin:0px;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-focus-ring-color: rgba(255, 255, 255, 0);
    outline: none;font-size: 100%;font-family: arial;
}
textarea, input {font-size: 100%;font-family: arial;background: white;} 

* {	box-sizing: border-box; }
*:not(input):not(textarea) {-webkit-user-select: none;-webkit-touch-callout: none; -ms-touch-action: none;} 

input:focus.length-limit-reached,
textarea:focus.length-limit-reached{ animation: ani_limit_reached .3s linear;}
@keyframes ani_limit_reached{ 100%{background-color: #FBEC3E;} }

#the-app { padding:30px 2%;position: relative;width: 100%;height: 100%; touch-action: manipulation;}
#the-app .the-app-wrapper{position: relative;width: 100%;max-width: 1000px; height: 100%;background: white;margin: 0 auto 0 auto;}
#the-app .the-app-wrapper:before{
	content: "";background: white;width: 100%;position: absolute;
	top:-10px;left:0;height: 10px;border-radius:10px 10px 0 0;}
#the-app .the-app-wrapper:after{
	content: "";background: #FFF040;width: 100%;position: absolute;
	bottom:-10px;left:0;height: 10px;border-radius:0 0 10px 10px;}

#landscape-lock{position: absolute;width: 100%;height: 100%;background: white;top:0;left:0;padding:10px;display: table;display: none;z-index: 10000;}
.landscape-lock-wrapper {position: relative;width: 100%;height: 100%;background: #FFF040;border-radius: 20px;display: table-cell;vertical-align: middle;}
.landscape-lock-image {text-align: center;}
.landscape-lock-image img{width: 60px; height: auto;margin: 0 auto 0 auto;transform:rotateZ(90deg);animation:landscape-lock-ani 1.5s  infinite; }

#landscape-lock p {text-align: center;font-size: 1.6em;margin: 0 5%;padding: 10px 0 0 0;}
@keyframes landscape-lock-ani {
	30%{ transform: rotateZ(90deg);	}
	70%{ transform: rotateZ(0deg);	}
	100%{ transform: rotateZ(0deg);	}
}

#the-app-views{width:100%;height:100%;min-height: 100%;position:absolute;top:0;left:0;overflow: hidden;}

.app-view {
	width: 100%;height: 100%;min-height: 100%;
	position: absolute;z-index: 0;	
	transform:translate3d(0,0,0);
	background: white;
}
.app-view-modal{
	width: 100%;height: 100%;min-height: 100%;
	position: absolute;z-index: 1000;	
	transform:translate3d(0,0,0);
	background: rgba(255,255,255,.85);
}

.chefsmenu-mode .iiko-mode-only{display: none;}
.iiko-mode .chefsmenu-mode-only{display: none;}

.cafe-status-contract .btn-get-contract,
.cafe-status-contract.title-get-contract{ display: none;}


.app-view-modal-container {
	position: absolute;top:50%;left:10%;width:80%;transform:translate3d(0,-50%,0);	
	background: white;border-radius: 5px;border:1px solid #C4C4C4;
}
.app-view-modal-container__title{font-size:1.6em;padding: 20px 5% 20px 5%;text-align: center;}
.app-view-modal-container__message{padding: 5px 5% 20px 5%; font-size:1.6em;}
.app-view-modal-container__message p{ padding: 0;margin: 0 0 6px 0; text-align: left; font-size:inherit;}
.app-view-modal-container__message ul{ margin: 15px auto 6px auto; font-size:inherit;}

.app-view-modal-container__actions {display: table;width:100%;border-top:1px solid #C4C4C4;}
.app-view-modal-container__actions .button{display: table-cell;font-size:1.6em;padding:14px;text-align: center;}

.app-view-confirm-container {
	position: absolute;top:50%;left:10%;width:80%;transform:translate3d(0,-50%,0);	
	background: white;border-radius: 5px;border:1px solid #C4C4C4;
}
.app-view-confirm-container__title{font-size:1.6em;padding: 20px 5% 20px 5%;text-align: center;}
.app-view-confirm-container__message{padding: 5px 5% 20px 5%; font-size:1.6em;}
.app-view-confirm-container__message p{ padding: 0;margin: 0 0 6px 0; text-align: center; font-size:inherit;}

.app-view-confirm-container__actions {display: table;width:100%;border-top:1px solid #C4C4C4;}
.app-view-confirm-container__actions .button{display: table-cell;font-size:1.6em;padding:14px;text-align: center;width: 50%;}
.app-view-confirm-container__actions .button:first-child{border-right: 1px solid #C4C4C4;}


.app-view-header{z-index: 30; position: absolute;top:1%;height: 10%;min-height: 55px; width: 100%;padding: 0 2%; }
.app-view-page{z-index: 50; position: absolute; height: 62%;width: 100%;bottom:14%; }
.app-view-title{ z-index: 20; position: absolute; height: 20px; width: 94%; bottom: 78%; left: 3%;font-size: 1.1em;}
.app-view-loader{z-index: 10; position: absolute;height: 2%;width: 96%;bottom:12%;left:3%;overflow: hidden; }
.app-view-extra-loader{z-index: 15; position: absolute;height: 1%;width: 92%;top:21%;left:4%; }
.app-view-footer{ z-index: 40;position: absolute;bottom:0;height: 11%;width: 100%; }
.app-view-page.max-size{height: 72%;bottom:14%;}


.app-view-integration-btn{ 
	z-index: 60; position: absolute; height: 46px; bottom: 78%; right: 3%;font-size: 0.9em;
	border:1px solid black;border-radius: 8px;padding:6px 12px 0 43px;
	overflow: hidden;display: none;
}
.app-view-integration-btn:after{
	position: absolute;top:-3px;left:-1px;width: 42px;height: 42px;content: "";	
	background-image:url('../ico/icons-light-all32.svg');
	background-repeat: no-repeat;
	background-size: auto 1000%;	
	background-position: 55.6% 11.2%;	
}
.app-view-integration-btn.active{background:#EFEFEF;border:1px solid transparent;}


.is_ios .app-view-title{font-family: "PT Sans", arial;}
.app-view-title span{display: none;}
.iiko-mode .app-view-title span:nth-child(2){font-weight: bold;display: block;}
.chefsmenu-mode .app-view-title span:nth-child(1){display: block;}
.iiko-mode-only{display: none;}
.iiko-mode .iiko-mode-only{display: block;}
.iiko-mode .app-view-integration-btn{display: block;}


.app-view-extra-loader{	background: #efefef;border-radius:10px;opacity: 0;}
.app-view-extra-loader__status{position: absolute;bottom:180%;left:0;font-size: .8em;opacity: 0;}
.app-view-extra-loader__line{
	position: absolute;background: #ffffff; 
	border:1px solid black; border-radius:10px;width: 0%;height: 100%;top: 0;left:0;border-radius:10px;
	opacity: 0;
}
.app-view-extra-loader.app-view-extra-loader-visible{opacity: 1;}
.app-view-extra-loader-visible .app-view-extra-loader__status{opacity: 1;}
.app-view-extra-loader-visible .app-view-extra-loader__line{opacity: 1;}

.app-view-loader{	
	border-radius: 10px;
	will-change:opacity;	 
	transition:.6s;	
	opacity: 0;	
}
.app-view-loader span{
	position: absolute;top:0;left:0;width: 200%;height: 100%;
	background: url('../i/adm-loader-03.svg') center/auto 100%;
	animation:app-view-loader-ani 10s infinite linear;
}

.app-view.now-loading .app-view-loader{	opacity: 1; }


@keyframes app-view-loader-ani {
	100%{transform:translateX(-50%);}
}

.app-view-header:after{content: "";display: table;clear: both;}

.view-header-title{float: left;height: 50px;width: 60%;font-size: 1.8em;position: relative;}
.view-header-title_icon{width: 50px;height: 50px;position: absolute;top:0;left:0;}
.view-header-title_text { position: absolute;left:62px;top:50%;transform:translateY(-50%);line-height: 1; }

.view-header-title_icon{
	background-image:url('../ico/icons-light-all32.svg');
	background-repeat: no-repeat;
	background-size: auto 1000%;
}

.view-header-buttons{float: right;height: 100%;width: 40%;}
.view-header-buttons__button{float: right;width:80px;height: 70px;margin: 0 0 0 5%;transition:.5s; will-change:opacity;}
.view-header-buttons__button_home{
	background-image:url('../ico/icons-light-all32.svg');
	background-repeat: no-repeat;
	background-size: auto 1000%;	
	background-position: 44.5% 0;
	border-radius:8px;
	border: 2px solid #fff040;
}
.view-header-buttons__button_help{
	background-image:url('../ico/icons-light-all32.svg');
	background-repeat: no-repeat;
	background-size: auto 1000%;	
	background-position: 55.6% 0;
}


.overflow-y{ 	
	overflow:hidden;
	overflow-y:auto; 
	-webkit-overflow-scrolling: touch;
}

.middle-layer{
	width: 100%;height: 100%;
	position: absolute;
	z-index: 1000;	
	background: rgba(255,255,255,.85);	
	display: none;
}

.app-view-page-container{
	position: absolute;top:0;left:0;width: 100%;height: 100%;
	transform:translate3d(0,0,0);transition:.6s;
	will-change:transform, opacity;
	opacity: 1;width: 100%;height: 100%;padding: 14px;
	border-top:3px solid #FFF040;
}
.app-view-page.hidden .app-view-page-container{
	transform:translate3d(0,10px,0);opacity: 0;transition:0s;
}
.app-view-page-container.no-padding{padding: 0;}
.max-size .app-view-page-container{border-top:none;}

.app-view.now-loading .app-view-footer .button-section,
.app-view.now-loading .view-header-buttons__button {opacity: .3;}


#the-app-views .lang-tabs{
	list-style: none;margin: 0;padding: 0;
	position: absolute;top:0;left:5%;
	display: flex;transform: translate(0,-100%);
}
#the-app-views .lang-tabs li{
	border-right:2px solid white;padding:10px 20px;
	border-radius: 5px 5px 0 0;
	background: lightgray;
}
#the-app-views .lang-tabs li:last-child{border-right:0px none;}
#the-app-views .lang-tabs li.current{background: #FBEC3E;}

.std-special-single-button{background: #FFF040;font:.9rem arial;padding:10px 20px;border:none;color:black;border-radius: 20px;}
.std-special-single-button:active{background: #000000;color: #FFF040;}


.app-view-footer {padding: 5px 5px 0 5px;background: #FFF040;}
.app-view-footer:after{display: table;clear: both;content: "";}
.app-view-footer .button-section{width: 33.3%;float: left;height:100%; overflow: hidden;transition:.5s;will-change:opacity;}
.app-view-footer .button{text-align: center;width: 100%;height: 100%;border-radius: 4px;position: relative;}

.app-view-footer .button span {
	position: absolute;top:50%;
	display: block; 
	transform:translateY(-50%);
	text-align: center;
	width: 100%;font-size: 1.8em;
}
.app-view-footer .button.button-as-image span{
	position: absolute;
	display: block; 
	top:50%;left:50%;	
	transform:translate(-50%,-50%);
	height: 30px;
	width: 30px;
}

.button.active{background: yellow;}
.button.hidden {display: none;}

.button.rotate-image span {
	background: url("../i/adm-rotate.svg") no-repeat center left;
	background-size: auto 100%;
}

.app-view-footer .button.save,
.app-view-footer .button.send {display: none;}
.app-view.need-to-save .app-view-footer .button.save,
.app-view.need-to-save .app-view-footer .button.send {display: block;}
.app-view.need-to-save .app-view-footer .button.add,
.app-view.need-to-save .app-view-footer .button.change {display: none;}

.ico-adm-logo {background-position: 0 0 ;}
.ico-adm-customizing {background-position: 11.1% 0 ;}
.ico-adm-edit {background-position: 22.2% 0 ;}
.ico-adm-delete {background-position: 33.3% 0 ;}

.ico-main_dishes {background-position: 0 22.3% ;}
.ico-soups {background-position: 11.2% 22.3% ;}
.ico-salade {background-position: 22.3% 22.3% ;}
.ico-chicken {background-position: 33.4% 22.3% ;}
.ico-fish {background-position: 44.5% 22.3% ;}
.ico-steak {background-position: 55.6% 22.3% ;}
.ico-seafood {background-position: 66.7% 22.3% ;}
.ico-bbq {background-position: 77.8% 22.3%;}
.ico-kebabs {background-position: 88.9% 22.3% ;}
.ico-pasta {background-position: 100% 22.3%;}
.ico-pizza {background-position: 0% 33.4% ;}
.ico-sushi_and_rolls {background-position: 11.1% 33.4% ;}
.ico-dumpling {background-position: 22.3% 33.4% ;}
.ico-asian_food {background-position: 33.4% 33.4% ;}
.ico-sandwiches {background-position: 44.5% 33.4% ;}
.ico-slicing {background-position: 55.6% 33.4% ;}
.ico-canapes {background-position: 66.7% 33.4% ;}
.ico-fast_food {background-position: 77.8% 33.4% ;}
.ico-ice_cream {background-position: 88.9% 33.4% ;}
.ico-fruits {background-position: 100% 33.4% ;}
.ico-pancakes {background-position: 0% 44.5% ;}
.ico-bakery {background-position: 11.2% 44.5% ;}
.ico-cakes {background-position: 22.3% 44.5% ;}
.ico-childrens_menu {background-position: 33.4% 44.5% ;}
.ico-tea {background-position: 44.5% 44.5% ;}
.ico-coffee {background-position: 55.6% 44.5% ;}
.ico-juice_and_water {background-position: 66.6% 44.5% ;}
.ico-cocktails {background-position: 77.8% 44.5% ;}
.ico-beer {background-position: 88.9% 44.5% ;}
.ico-alcohol {background-position: 100% 44.5% ;}

.add-menu-icons div{
	float:left;width: 22%;height:52px;
	margin-left:4%; margin-bottom:5px; 
	border-radius: 5px;	
	position: relative;
}
.add-menu-icons div:nth-child(4n+1){margin-left:0; }
.add-menu-icons div.checked {background-color: #FFF040;}
.add-menu-icons div span{	
	position: absolute;left:50%;top:50%;width: 50px;height: 50px;
	transform: translateX(-50%) translateY(-50%) ;	
	background-image: url('../ico/icons-light-all32.svg');
	background-size: auto 1000%;
	background-repeat: no-repeat;
}

.repos-51__row-sample{height: 100px;width: 100%;position: absolute;z-index: 10;}
.repos-51-wrapper{background: white;position: absolute;top:0;left:0;width: 100%;height: 100%;z-index: 20;}
/*.repos-51-wrapper.protected{opacity: .8;}*/
.repos-51__row-now-dragging{z-index: 1000;box-shadow: 0 3px 10px rgba(0,0,0,.3);}
.repos-51__row{	
	position: absolute;left:0;width: 100%;
	background:white; transform:translate3d(0,0,0);will-change:transform;
}
.repos-51__row:after{
	content: "";position: absolute;right: 3%;top:50%;height: 30px;width: 30px;
	transform:translate(0,-50%);		
	background-image: url('../ico/icons-light-all32.svg');
	background-size: auto 1000%;
	background-repeat: no-repeat;	
	background-position: 88.9% 0;
}

.repos-51__row:before{content: "";position: absolute;border-bottom: 1px solid #e0e0e0;width: 100%;height: 1px;bottom:0;left:0;}
.repos-51__row.current{ z-index: 1000;box-shadow: 0 0 20px rgba(0,0,0,.3);border-bottom:none;opacity: .4;border:none;}
.repos-51__row.current:before{display: none;}
.repos-51__title{ position: absolute;left:0;top:0;width: 90%;height: 100%;}

.repos-51__title_icon{
	position: absolute; top:50%;left:2%; transform:translateY(-50%); width: 65px;height: 65px;
	background-image:url('../ico/icons-light-all32.svg');background-repeat: no-repeat;
	background-size: auto 1000%;
}
.repos-51__title_text { position: absolute; top:50%;left:135px; transform:translateY(-50%);font-size: 1.6em; padding: 0px 85px 0 0;}
.repos-51__title:after{content: "";position: absolute;left: 108px;height: 50%;top: 25%;border-left: 1px solid lightgray;}

.repos-51__row-buttons-left, 
.repos-51__row-buttons-right{position: absolute;top:0;height: 100%;display: table; }

.repos-51__row_button {display: table-cell; position: relative; overflow: hidden; }

.repos-51__row_button > div{
	position: absolute;width: 50px;height: 50px;
	display: inline-block;top:50%;left:50%;transform:translateY(-50%) translateX(-50%);	
}
.repos-51__row_button > div:first-child{	
	background-image: url('../ico/icons-light-all32.svg'); 
	background-repeat: no-repeat;
	background-size: auto 1000%;	
}
.repos-51__row_button:before{
	content: "";position: absolute;border-bottom: 1px solid #e0e0e0;
	width: 100%;height: 1px;bottom:0;left:0;
}

/* --- BTN DELETE --- */
.repos-51__btn-delete > div:first-child{
	transform:scale(1) translateY(-50%) translateX(-50%); 
	transition: .3s; opacity: 1;
}
.repos-51__btn-delete > div:last-child{
	transform: translateY(-50%) translateX(-50%) scale(.5); transition:.3s .3s; opacity: 0;
	background: url('../i/adm_repos51_loading.svg') no-repeat center; background-size: 100%;
}
.prepare-to-remove .repos-51__btn-delete > div:first-child {
	transform: translateY(-50%) translateX(-50%) scale(.8) rotateZ(30deg);opacity: 0;
}
.prepare-to-remove .repos-51__btn-delete > div:last-child { 
	transform: translateY(-50%) translateX(-50%) scale(1); 
	animation: sure5-loader 2s .6s linear infinite; opacity: 1;
}

@keyframes sure5-loader{
	0% {transform:translateY(-50%) translateX(-50%) scale(1) rotateZ(0deg);}
	100% {transform:translateY(-50%) translateX(-50%) scale(1) rotateZ(180deg);}
}

.view-customize-all__user-email span{font-weight: bold;}

/*
        ______   ____     ____     __  ___
       / ____/  / __ \   / __ \   /  |/  /
      / /_     / / / /  / /_/ /  / /|_/ /
     / __/    / /_/ /  / _, _/  / /  / /
    /_/       \____/  /_/ |_|  /_/  /_/

*/


.app-view-page.hidden .std-form {display: none;}

.std-form a{color:black;font-weight: bold;}
.std-form img{max-width: 100%;height: auto;}
.std-form p {margin:0 0 20px 0;font-size: 1.3em;padding: 0;line-height: 1.3;}
.std-form__subtitle{margin:40px 0 20px 0;font-size: 1.3em;padding: 0;line-height: 1.3;font-weight: bold;}
.std-form h1 {margin:0 0 10px 0;font-size: 1.1rem;}
.std-form h2 {margin:19px 0 10px 0;font-size: 1.3rem;}
.std-form h3 {margin:19px 0 10px 0;font-size: 1em;padding: 0;line-height: 1.3;}
.std-form button{margin:5px 0 10px 0;}
.std-form ul{margin: 0 auto 10px auto;line-height: 1.4;}
.std-form ul.std-form__structure{padding:0;list-style:none; }
.std-form hr{ margin:6vw 0;border:0;border-top:1px solid rgba(0,0,0,.3);}
.input-title{margin: 0 0 4px 0;}
.std-form__highlight-field{background-color:#fff040 ;border-radius: 8px;padding:10px 15px;}

.std-form__section-description{margin:0 0 8px 0;font-size: 1rem;}


.std-form__wide-button{
	border:1px solid #969696;font-size:1.6em;padding:26px;border-radius: 6px;
	background: white;position: relative;
	margin:0 0 20px 0;
}
.std-form__wide-button:after{
	content: "";position: absolute;top:50%;right: 3%;width: 28px;height: 28px;
	transform:translate(0,-50%);
	background-image: url(../ico/icons-light-all32.svg);
    background-size: auto 1000%;
    background-repeat: no-repeat;
    background-position: 88.9% 0;	
}
.std-form__wide-button.bright-btn{
	background:#FFF040;
	border: 1px solid transparent;
}

.std-form__help-button{
	border:1px solid #969696;font-size:1.4em;padding:26px 36px 26px 26px;border-radius: 6px;
	background: white;position: relative;
	background-size:28px;margin:0 0 20px 0;	
}
.std-form__help-button:after{
	content: "";position: absolute;top:50%;right: 3%;width: 28px;height: 28px;
	transform:translate(0,-50%);
	background-image: url(../ico/icons-light-all32.svg);
    background-size: auto 1000%;
    background-repeat: no-repeat;
    background-position: 88.9% 0;	
}
.std-form__long_bright_word{
	font-size:1.6em;padding:26px;border-radius: 6px;
	background:#FFFABC;
	background-size:28px;margin:0 0 20px 0;	
	width: 100%;overflow: hidden;text-overflow: ellipsis;
}

.std-form__bright_word {margin:0 0 20px 0;padding: 20px;background: #FFFBD1;border-radius: 6px;font-size: 2em;display: inline-block;}

.std-form__bright-link  {margin:0 0 20px 0;}
.std-form__bright-link  a{
	padding: 10px;border-radius:6px;
	color: black;text-decoration: none;background: #FFFBD1;display: inline-block;
	font-size: 1em;width: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;	
}
.std-form__input,
.std-form__textarea{
	outline: none; color: black;font-size:1.6em;
	padding:8px;width: 100%;background: white;
	border:1px solid #969696;border-radius: 6px;		
	margin:0 0 10px 0;
}
.std-form__input:disabled,
.std-form__textarea:disabled{
	color: #727272;		
	background: #f5f5f5;
}

.std-form__textarea {resize: none;}
.std-form__input:focus,
.std-form__textarea:focus {background: #FFFBD1;}
.std-form__separator{border-top:3px solid #FFF040;margin: 36px 0 25px 0;}

.std-form__radio-button {
	margin:0px 0px 6px 0px;padding: 12px;border-radius: 6px;
	font:18px arial;border:1px solid #969696;
	position: relative;
	transition:.3s;	
}
.std-form__radio-button.checked {
	background: #FFF040;border:1px solid #FFF040;
	background-size: 23px;
}
.std-form__radio-button.checked:after{
	content: "";width:28px;height:28px;
	position: absolute;top:50%;right: 3%;z-index: 1;	
	transform:translate(0,-50%);
	background-image: url(../ico/icons-light-all32.svg);
    background-size: auto 1000%;
    background-repeat: no-repeat;
    background-position: 100% 0;	
}
.std-form__radio-button.mini{ display: inline-block; margin:0px 6px 6px 0px;}
.std-form__radio-button.mini.checked:after {display: none;}

.std-form__separator{border-top:3px solid #FFF040;margin: 30px 0 20px 0;}

.std-form__ul_tags_title{
	font-size: 0.9em;	
	margin:10px 0 10px 0;
}
.std-form__ui_tags {padding: 0;margin: 0 0 18px 0;list-style: none;}
.std-form__ui_tags li{display: inline-block;
    background: #f5f5f5;
    border-radius: 18px;
    padding: 6px 20px;
    margin: 0 2px 2px 0;
    border: 1px solid #727272;
    font-size: 0.9em;
    color: #727272;
}
.std-form__title-special-1{   
    margin: 10px 0 20px 0;    
    font: italic 0.9em arial;        
    text-align: center;
    border:2px solid #fff040;
    border-bottom:none;    
    position: relative;
    height: 10px;
}
.std-form__title-special-1 span{
	background: white;padding:2px 10px;display: inline-block;position: absolute;
	top:0;left: 50%;transform: translate(-50%,-50%);	
}
.std-form__title-special-1-footer{
    margin: 10px 0 20px 0;    
    border:2px solid #fff040;
    border-top:none;    
    height: 10px;	
}

.std-form-double{display: flex; gap:8px;}
.std-form-double>div{width: 50%;}

.customize-interface__lang,
.customize-interface__cart-mode,
.customize-interface__currency,
.customize-interface__price-precision,
.customize-interface__skin{margin: 0 0 20px 0;}
.customize-interface__skin_group-hr{
	width: 20%;margin: 1em auto;border: none;border-top: 1px solid black;opacity: .5;	
}

.customize-interface__price-precision div{ 
	height: 50px; font-size:16px;padding: 15px 15px 0 15px;border:1px solid #969696;
	float: left; border-radius: 6px;margin: 0 10px 5px 0;
}
.customize-interface__price-precision:after{clear: both;display: table;content: "";}
.customize-interface__price-precision div.checked{background: #FFF040;border:1px solid #FFF040;}

.customize-interface__currency div{ 
	height: 50px; font-size:16px;padding: 15px 15px 0 15px;border:1px solid #969696;
	float: left; border-radius: 6px;margin: 0 10px 5px 0;		
}
.is_ios .customize-interface__currency div{font-family:"PT Sans", arial;}

.customize-interface__currency:after{clear: both;display: table;content: "";}
.customize-interface__currency div.checked{background: #FFF040;border:1px solid #FFF040;}

/* 
    	    ____     ___       ______   ______     __       ____   _____    ______
	   / __ \   /   |     / ____/  / ____/    / /      /  _/  / ___/   /_  __/
	  / /_/ /  / /| |    / / __   / __/      / /       / /    \__ \     / /
	 / ____/  / ___ |   / /_/ /  / /___     / /___   _/ /    ___/ /    / /
	/_/      /_/  |_|   \____/  /_____/    /_____/  /___/   /____/    /_/
	
*/

.super-pagelist-bhv-layer {
	position: absolute;top:0;left:0;height: 100%;width: 100%;background: rgba(0,0,0,0);
}

.super-pagelist {
	bottom: 3%;left: 0;width: 100%; height: 85%;position: absolute;z-index: 10;
	transform:translateZ(0);
}
.super-pagelist-protect-left{position: absolute;height: 100%;left:0;top:0;z-index: 20;}
.super-pagelist-protect-right{position: absolute;height: 100%;right:0;top:0;z-index: 30;}


.super-pagelist-pages-layer {position: absolute;top:0;left:0;height: 100%;}
.super-pagelist-page{position: absolute;height: 100%;transform:translateZ(0); transition:.3s;}


/*  
    	    ____   ______   ______   __  ___   _____
	   /  _/  /_  __/  / ____/  /  |/  /  / ___/
	   / /     / /    / __/    / /|_/ /   \__ \
	 _/ /     / /    / /___   / /  / /   ___/ /
	/___/    /_/    /_____/  /_/  /_/   /____/
	
*/

.all-items-wrapper {width: 100%;height: 100%;position: relative;overflow: hidden;}
.all-items-wrapper .item{ position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
.all-items-empty-message {position: absolute;top:0;left:0;width: 100%;height: 100%;opacity: 0;transition:0s;transform:translate3d(10px,0,0)}
.all-items-is-empty .all-items-empty-message{opacity: 1;transition:1s;transform:translate3d(0,0,0);}
.all-items-empty-message div { text-align: center; position: absolute;top:30%;left:10%;width: 80%;transform:translateY(-50%);font-size:1.6em;line-height: 1.3; }

.small-item-image{
	position: relative;
	background: #f1f1f1 url("../i/adm_item_no_photo.svg") no-repeat center;
	background-size: auto 50%;		
	height: 51%;
	overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;	
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;     	
}
.image-available .small-item-image {background:#f1f1f1;}
.small-item-image__holder{
	z-index: 10;position: absolute;top:0px;left:0px;
	width:100%;height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius:6px; 
	transition:.5s .5s;
	opacity: 1;	
}
.item-highlighted .item__front-layer:after{
	position: absolute; content: ""; left: 0; bottom: 0; width: 100%; 
	height: 10px; background: #FFF040; border-radius: 0 0 4px 4px;
}

.small-item-image__holder.hidden{
	border-radius:50%; 
	opacity: 0;
}
.small-item-image__loader {	
	z-index: 20;position: absolute;top:0px;left:0px;
	width:100%;height: 100%;
	transform:scale(1);opacity: 1;
	will-transform:scale, opacity;
	transition:.6s;
}
.small-item-image__loader.hidden {transform:scale(1.6);opacity: 0.01;}
.small-item-image__loader div{width: 45px;height: 45px;position: absolute;left:50%;top:50%;transform:translate3d(-50%,-50%,0);opacity: 1;}
.small-item-image__loader.hidden div {opacity: 0;transition: .3s .6s;}
.small-item-image__loader span {
	width: 100%;height: 100%;background: url('../i/adm_loader.png') no-repeat center;
	background-size: 100%;display: block; animation:small-item-image__loader 2s .6s linear infinite; 
}

@keyframes small-item-image__loader{
	0% {transform:rotateZ(0deg);}
	100% {transform:rotateZ(180deg);}
}

.all-items-wrapper .item__sub-layer{
	position: absolute;top:0;left:0;
	z-index: 30;opacity: 1;
	transition:.3s .4s;
	will-change:opacity;
	transform:translateZ(0);
	width: 100%;height: 100%;
}
.all-items-wrapper .item__front-layer {
	position: absolute;top: 0;left: 0;z-index: 40;	
	width: 100%;height: 100%;
	transition:.2s;
	transform:translateZ(0);
	background:white;
	box-shadow: 0 1px 10px rgba(0,0,0,.2);
	border-radius: 6px;		
}


.all-items-wrapper .item.pageupmode .item__front-layer{
	transform:translateY(-27%) translateZ(0);	
}

.all-items-wrapper .item.pagedownmode .item__front-layer{
	transform:translateY(14%) translateZ(0);
}

.all-items-wrapper .btn-item-delete {
	position: absolute;top: 0;left: 0;
	width: 100%;height: 14%;		
	border-radius: 6px;	
	background: white;
	border:1px solid #D9D9D9;
}

.all-items-wrapper .btns-item-repos{
	position: absolute;bottom: 0;left: 0;width: 100%;height: 12%;
	background: #ffffff;border-radius: 50px;border:1px solid #D0D0D0;
}
.all-items-wrapper .btns-item-repos:before{content: "";position: absolute;top:0;left: 50%;height: 100%;width: 1px;border-left:1px solid #D0D0D0; }
.all-items-wrapper .btns-item-repos:after{content: "";display: table;clear: both;}
.btns-item-repos__button{height: 100%;width: 50%;}
.btns-item-repos__prev{float: left;position: relative;border-radius: 50px 0 0 50px;}
.btns-item-repos__next{float: right;position: relative;border-radius: 0 50px 50px 0;}
.btns-item-repos__prev span{
	display:block;position: absolute;left: 14%; width: 5vw;height: 3.75vw; top:50%;transform:translateY(-50%);
	background: url('../i/adm_item_replace_24x18.svg') no-repeat center left/200% auto;
}
.btns-item-repos__next span{
	display:block;position: absolute;right: 14%;width: 5vw;height: 3.75vw; top:50%;transform:translateY(-50%);
	background: url('../i/adm_item_replace_24x18.svg') no-repeat center right/200% auto;
}

.all-items-wrapper .btn-item-delete span{
	position: absolute;display: block;
	top:50%;transform:translateY(-50%);	
	width: 100%;text-align: center;
	font-size: 2.1em;
}
.all-items-wrapper .item-flags {
	position: absolute;bottom: 14%;left: 2%;
	width: 96%;height: 12%;	
}
.all-items-wrapper .item-flags:after{
	content: "";display: table;clear: both;
}
.all-items-wrapper .btn-flag-spicy, 
.all-items-wrapper .btn-flag-hit, 
.all-items-wrapper .btn-flag-vege{
	width: 33.33%;height: 100%;float: left;
}
.all-items-wrapper .btn-flag-spicy div, 
.all-items-wrapper .btn-flag-hit div, 
.all-items-wrapper .btn-flag-vege div{
	display: block; width: 90%;height: 100%;
	border-radius: 0 0 13px 13px;
	position: relative;
	overflow: hidden;
}
.all-items-wrapper .btn-flag-spicy div{margin: 0 auto 0 0; background: #FF5631;}
.all-items-wrapper .btn-flag-hit div{margin: 0 auto;background: #FF9300;}
.all-items-wrapper .btn-flag-vege div{margin: 0 0 0 auto;background: #43D322;}

.all-items-wrapper .btn-flag-spicy span,
.all-items-wrapper .btn-flag-hit span,
.all-items-wrapper .btn-flag-vege span{
	display: block;
	position: absolute;top:53%;left:50%;
	transform:translate(-50%,-50%);
	width: 60px; height: 60px;	
	transition: background .3s;
}

.all-items-wrapper .btn-flag-spicy span {background: url('../i/adm_flags_all_52x52_v33.svg') no-repeat left bottom/300% auto;	}
.all-items-wrapper .btn-flag-hit span {background: url('../i/adm_flags_all_52x52_v33.svg') no-repeat center bottom/300% auto;	}
.all-items-wrapper .btn-flag-vege span {background: url('../i/adm_flags_all_52x52_v33.svg') no-repeat right bottom/300% auto;	}

.all-items-wrapper .flag-spicy-enable .btn-flag-spicy span {background-position: left top;	}
.all-items-wrapper .flag-hit-enable .btn-flag-hit span {background-position: center top;}
.all-items-wrapper .flag-vege-enable .btn-flag-vege span {background-position: right top;	}

.all-items-wrapper .front-flags-preview{	
    position: absolute;
    top: 51%;
    right: 2%;
    width: auto;
    height: 24px;
    background: white;
    text-align: right;
    transform: translateY(-130%);    
    border-radius: 30px;
    padding: 3px;
    visibility: hidden;
}
.all-items-wrapper .front-flags-preview span{
	width: 18px;height: 18px;	
	border-radius: 50%;
}
.all-items-wrapper .flag-spicy-enable .front-flags-preview,
.all-items-wrapper .flag-hit-enable .front-flags-preview,
.all-items-wrapper .flag-vege-enable .front-flags-preview{visibility: visible;}

.all-items-wrapper .flag-vege-preview{display: none;}
.all-items-wrapper .flag-spicy-preview{display: none;}
.all-items-wrapper .flag-hit-preview{display: none;}
.all-items-wrapper .flag-vege-enable .flag-vege-preview{display: inline-block;}
.all-items-wrapper .flag-spicy-enable .flag-spicy-preview{display: inline-block;}
.all-items-wrapper .flag-hit-enable .flag-hit-preview{display: inline-block;}

.all-items-wrapper .flag-spicy-preview{background: #FF5631;}
.all-items-wrapper .flag-hit-preview{background: #FF9300;}
.all-items-wrapper .flag-vege-preview{background: #43D322;}


.all-items-wrapper .item-description-wrapper{
	position: absolute;top:0;left:0;width: 100%;height: 100%;transition:.3s;opacity: 0;	
}
.all-items-wrapper .item-description-header{
	position: absolute;top:0;left:0;width: 100%;
	height: 12%;background: #FFF040;position: relative; 
	border-radius: 6px 6px 0 0;
}
.all-items-wrapper .item-description-header span {
	position: absolute;left:4%; top:50%;transform:translateY(-50%);
	font-size: 1.6em;
}

.all-items-wrapper .item-description {
	position: absolute;top:14%;left:0;
	width: 100%;height: 81%;
	overflow-y:auto; 
	-webkit-overflow-scrolling: touch;		
	padding:0 4%;
	font-size:1.6em;
	line-height: 1.3;
	transform:translateY(10px) translateZ(0);
	transition:.3s;
}


.all-items-wrapper .item-description .item-volume{margin: 20px 0 0 0;position: relative;}
.all-items-wrapper .item-description .item-volume:after{
	content: "";position: absolute;top:-10px;left:0;border-top: 1px solid #707070;width: 15%;
}

.all-items-wrapper .item-image{	
	background-color: #f1f1f1;
	position: absolute;top:0;left:0;
	width: 100%;height: 50%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;	
}
.all-items-wrapper .item-title{ 
	background-color: white;	
	overflow: hidden;
	position: absolute;top:53%;left:0;
	width: 100%;height: 30%;
	padding: 0 4%;	
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;	
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;       
}
.all-items-wrapper .item-title div{font-size: 2.5em;line-height: 1.2; }
.all-items-wrapper .item-price{
	background-color: white;
	position: absolute;top:85%;left:0;
	width: 100%;height: 13%;	
	text-align: right;
	overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;    
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;      
}
.all-items-wrapper .item-price div{		
	position: absolute;top: 50%;right: 4%;
	transform:translateY(-50%);font-size: 3em;	
}
.is_ios .all-items-wrapper .item-price div{
	font-family: "PT Sans", arial;
}

.item-image-change__handler {
	width: 96%;height: 96%;top:2%;left:2%; 
	position: absolute;overflow: hidden;	
	z-index: 20;
}
.item-image-change__handler img{
	border-radius: 6px;
	position: absolute;top:0;left:50%;
	transform:translate3d(-50%,0,0);
	will-change:transform;
}
.item-image-change__handler img{width:100%; max-width: 100%;height: auto;}
.item-image-change__handler.image-vert img{width:auto; max-width: auto;height: 100%;max-height: 100%;}

.item-image-change__form {	
	position: absolute;top:0;left:0;
	display: none;
	z-index: 10;
}

.item-image-change__handler.no-image { 
	background: url("../i/adm_nophoto2.svg") no-repeat center;
	background-size:50%;
}

.item-image-change__preview{position: absolute;top:0;left:0;width: 100%;height: 100%;}
.item-image-change__large{position: absolute;top:0;left:0;width: 100%;height: 100%;}


.item-image-change__handler.active{opacity: .8;}

.customizing-cart__all-keys_key{display: flex;align-items: center}
.customizing-cart__all-keys_key>div:nth-child(2){font-size: .9rem;padding: 0 0 0 20px;;}

.customizing-cart__all-tgusers{margin:2vw 0;}

/* 
	VIEW EDIT ITEM 
*/

.view-edit-item .sizes-list {display: flex;gap:8px}
.view-edit-item .sizes-list > div:nth-child(1){width:40%;}
.view-edit-item .sizes-list > div:nth-child(2){width:10%;}
.view-edit-item .sizes-list > div:nth-child(3){width:50%;}

.view-edit-item .sizes-buttons{margin:0 0 10px 0;}
.view-edit-item .sizes-buttons > button {float:right}
.view-edit-item .sizes-buttons::after{clear: both;content: "";display: table;}
.view-edit-item .sizes-buttons > button {margin-left:5px;}

/*
	iiko	
*/

.iiko-general-information{padding: 10px;border:1px solid gray;border-radius: 10px;margin:10px 0;}


@media (max-width: 800px){

	.all-items-wrapper .item-description-header span {font-size: 1.4em;}
	.all-items-wrapper .item-title div{font-size: 1.8em;line-height: 1.1;}
	.all-items-wrapper .item-price div {font-size: 2em;}

	.repos-51__title_icon{ left:1%;width: 55px;height: 55px;}
	.repos-51__title_text{ left: 114px; padding: 0px 52px 0 0;}	
	.repos-51__title:after{left: 86px;}

	.view-header-buttons__button{width:70px;height: 60px;}

	.all-items-wrapper .btns-item-repos{height: 15%;}
	.all-items-wrapper .btn-item-delete{height: 15%;}
	.all-items-wrapper .item-flags{bottom: 17%;height: 17%;}

	.all-items-wrapper .item.pageupmode .item__front-layer{transform: translateY(-32%) translateZ(0);}
	.all-items-wrapper .item.pagedownmode .item__front-layer{transform: translateY(18%) translateZ(0);}

	.repos-51__row-sample{height: 90px;}
	.std-form__wide-button{padding: 15px;}	
	.std-form__wide-bright-button{padding: 15px;}	
	.std-form__help-button{padding: 15px 25px 15px 15px;}	
	
	.std-form__long_bright_word{padding: 9px 15px;}

}

@media (max-width: 600px){
	
	#the-app {padding: 23px 2%;}
	
	.view-header-buttons__button{width:50px;height: 45px;}	
	.view-header-title {font-size: 1.2em;}
	

	.all-items-wrapper .btn-item-delete span{font-size: 1.4em;}

	.app-view-modal-container__title,
	.app-view-confirm-container__title{font-size: 1.3em;}
	
	.app-view-modal-container__message,
	.app-view-confirm-container__message {font-size: 1.3em;}
	.app-view-modal-container__actions .button,
	.app-view-confirm-container__actions .button{font-size: 1.3em;}

	.app-view-footer .button span {font-size: 1.2em;}
	.repos-51__row-sample{height: 72px;}	

	.repos-51__title_icon{ left:1.5%;width: 50px;height: 50px;}
	.repos-51__title_text{left:96px;font-size: 1.4em; padding: 0px 26px 0 0;}	
	.repos-51__title:after {left: 77px;}
		
	.std-form__wide-button{padding: 10px;}
	.std-form__wide-bright-button{padding: 10px;}
	.std-form__help-button{padding: 10px 21px 10px 10px;}
	.std-form__title-section{font-size: 1.2em;}
	.std-form p {font-size: 1.2em;margin:0 0 11px 0; }
	.std-form__subtitle{font-size: 1.2em;margin:20px 0 11px 0;}

	.std-form__input, 
	.std-form__textarea {font-size: 1.3em;}
	.all-items-empty-message div { font-size:1.3em; }

}


@media (max-width: 450px){
	
	#the-app {padding: 18px 2%;}
	.view-header-title {font-size: 1.1em;}

	.all-items-wrapper .item-description-header span {font-size: 1em;}
	.all-items-wrapper .item-title div{font-size: 1.3em;line-height: 1;}
	.all-items-wrapper .item-price div{font-size: 1.4em;}
	.all-items-wrapper .item-description{font-size: 1.1em;line-height: 1.2;}

	.all-items-wrapper .btn-item-delete span{font-size: 1.1em;}
	.app-view-footer .button span {font-size: 1em;}	

	.app-view-title{ font-size: 1em; }

	.repos-51__row-sample{height: 62px;}
	.repos-51__title_text{left: 76px;font-size: 1.2em;}
	.repos-51__title:after {left: 65px;}	

	.std-form__title-section{  font-size: 1.0em;}
	.std-form p {font-size: 1.0em;}
	.std-form__subtitle{font-size: 1.0em;}

	.std-form__bright_word {margin:0 0 20px 0;padding: 10px 15px;font-size: 1.6em;}
	.std-form__wide-button {margin: 0 0 17px 0;font-size: 1.2em;}
	.std-form__wide-bright-button {margin: 0 0 17px 0;font-size: 1.2em;}
	.std-form__help-button {margin: 0 0 17px 0;font-size: 1.1em;}
	.std-form__bright-link {margin: 0 0 17px 0;}
	.std-form__input,.std-form__textarea{font-size: 1.1em;}
	.std-form__long_bright_word{font-size: 1.3em;}

	.app-view-modal-container__title,
	.app-view-confirm-container__title{font-size: 1.1em;}
	
	.app-view-modal-container__message,
	.app-view-confirm-container__message{font-size: 1.1em;}
	.app-view-modal-container__actions .button,
	.app-view-confirm-container__actions .button{font-size: 1.1em;}

	.btns-item-repos__prev span,
	.btns-item-repos__next span{
			width: 24px;height: 18px;
	}

	.all-items-wrapper .item.pageupmode .item__front-layer{transform:translateY(-106px) translateZ(0);}
	.all-items-wrapper .item.pagedownmode .item__front-layer{transform:translateY(51px) translateZ(0);}
	.all-items-wrapper .btns-item-repos{height: 42px;}
	.all-items-wrapper .btn-item-delete{height: 42px;}
	.all-items-wrapper .item-flags{bottom: 51px;height: 60px;}

	.all-items-empty-message div { font-size:1.1em; }



}

@media (max-width: 320px){	
	.std-form__bright_word {font-size: 1.3em;}
	.app-view-title{ font-size: .9em; }
	.repos-51__title_text{left: 72px;line-height: 1;}
	.repos-51__title:after {left: 62px;}	
	.std-form__long_bright_word{font-size: 1.1em;}
}
	


@media (orientation:landscape) and (min-height: 500px){
	#landscape-lock {display: table;}
}


