body,html{
	width:100%;height:100%;min-height: 100%;
	position:relative;padding: 0;margin: 0;	
}	

body{
	font-family:arial;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-focus-ring-color: rgba(255, 255, 255, 0);
    outline: none;    
}

* {	box-sizing: border-box; }

a{color: #2150ED;text-decoration: none;}
a:hover{text-decoration: underline;}

.page-content{width: 90%;margin:30px auto;}

.top-menu {border-bottom:1px solid lightgray;padding:0 0 20px 0; margin: 0 0 20px 0 ;}
.top-menu a{color: #2150ED;text-decoration: none;}
.top-menu a:hover{text-decoration: underline;}

.rds-user-list {width: 100%;list-style: none;margin: 0;padding: 0;;}
.rds-user-list li {border:1px solid lightgray;border-radius: 5px;margin-bottom: 5px;padding:5px;line-height: 1.5;}
.rds-user-list li:after{content: "";display: table;clear: both;}
.rds-user-list li:hover{background: #FFFAC4;}

.rds-user-list li>div{float: left;}
.rds-user-list li>div:nth-child(1){width: 30%;}
.rds-user-list li>div:nth-child(2){width: 10%;}
.rds-user-list li>div:nth-child(3){width: 10%;}
.rds-user-list li>div:nth-child(4){width: 22%;}
.rds-user-list li>div:nth-child(5){width: 22%;}
.rds-user-list li>div:nth-child(6){width: 6%;}


.rds-user-list__flag-contract{display: inline-block;background: lightgreen;padding: 0 10px;border-radius: 10px;}
.cafe-in-archive {}

a.del-user{text-align: center;}
a.del-user>span{cursor: pointer; background: #e5e5e5;border-radius:5px;font-size: 13px;padding:5px 10px;color:#a0a0a0;display: inline-block;}
a.del-user>span:active{background: #777777;}

.rds-site-header{padding:10px;background: #e5e5e5;text-align: right;}
.rds-site-header:after{content: "";display: table;clear: both;}
.rds-site-header-title{float: left;margin: 0;padding: 0;font-size: 20px;}
.rds-site-header-btn-exit{ float: right; text-decoration: none; display: inline-block;background: #777777;color:white;border-radius: 6px;cursor: pointer;padding: 5px 10px;font-size: 13px;}
.rds-site-header-btn-exit:active{background: #aaaaaa;}

.rds-loader{padding:5px 10px 5px 40px;font-size: 13px;background: gold no-repeat 10px center;display: none;}
.now-loading .rds-loader{display: block;}
.rds-message,
.rds-errmessage{padding:5px 10px 5px 40px;font-size: 13px;background: white;border-bottom:1px solid #aaaaaa;display: none;}
.rds-errmessage{color: red;}


.rds-add-contract__cafe-info p {line-height: 1.4;}

.rds-add-contract__row {border:3px solid lightgreen;padding: 4px;border-radius: 10px;margin: 0 0 5px 0;}
.rds-add-contract__row:after{content: "";display: table;clear: both;}
.rds-add-contract__row_number{float: left;width: 60%;}
.rds-add-contract__row_regdate{float: left;padding: 0 0 0 1% ;width: 20%;}
.rds-add-contract__row_daysleft{float: right;padding: 0 0 0 1% ;width: 20%;text-align: right;}

.rds-add-contract__new {border:1px solid lightgrey;padding: 20px;border-radius: 10px;margin: 0 0 20px 0;}
.rds-add-contract__new:after{content: "";display: table;clear: both;}
.rds-add-contract__new_number{float: left;width: 60%;}
.rds-add-contract__new_action{float: right;width: 40%;text-align: right;}














